<!-- ================== BEGIN core-css ================== -->
<link href="/static/assets/css/vendor.min.css" rel="stylesheet" />
<link href="/static/assets/css/app.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/assets/css/dx.dark.css">
<link rel="stylesheet" href="/static/assets/css/dx.dark.compact.css">
<link href="/static/assets/plugins/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
<link href="/static/assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="/static/assets/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" />
<link href="/static/assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="/static/assets/plugins/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
<link href="/static/assets/css/datatable.css" rel="stylesheet" />

<link href="/static/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<!-- ================== END core-css ================== -->