
    <div class="right-sidebar-toggler-wrapper">
        <div class="sidebar-toggler" id="layout-toggler"><i class="mdi mdi-settings"></i></div>
        <div class="sidebar-toggler">
            <a href="https://appseed.us/admin-dashboards/django-dashboard-staradmin-black-pro" 
               target="_blank"><i class="mdi mdi-file-document-outline"></i></a>
        </div>
        <div class="sidebar-toggler">
            <a href="https://github.com/app-generator/django-star-admin-black" 
            target="_blank"><i class="mdi mdi-cart"></i></a>
        </div>
    </div>
    