
    <div class="theme-setting-wrapper">
        <div id="theme-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>
            <div class="d-flex align-items-center justify-content-between border-bottom">
                <p class="settings-heading font-weight-bold border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">BootstrapDash PRO Demos</p>
            </div>
            <div class="demo-screen-wrapper">
                <!-- StarAdmin Black PRO -->
                <a  target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-staradmin-black-pro" 
                    class="demo-thumb-image">
                    <img src="/static/assets/images/screenshots/default-dark.jpg" alt="demo image">
                </a>
                <!-- StarAdmin PRO -->
                <a  target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-staradmin-pro" 
                    class="demo-thumb-image">
                    <img src="/static/assets/images/screenshots/default.jpg" alt="demo image">
                </a>
            </div>
        </div>
    </div>
