{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Enviroscan</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'app_front/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'app_front/css/noscript.css' %}" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Enviroscan</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Products</a></li>
											<li><a href="elements.html">Live Demo</a></li>
											<li><a href="elements.html">Our Story</a></li>
											<li><a href="/login/">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>ENVIROSCAN</h2>
							<p>TAKE CONTROL.</p>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>An end to end remote monitoring and data analysis solution</h2>
								<p>
									Enviroscan is a tailored UX and API surface for connecting and managing your assets at scale, delivering reliable data for business insights.
									Store all your data and visualise your data in custom dashboarding and data analysis trending engine. 
									Define rules to trigger business flows, send data to other services using data export, and programmatically access Enviroscan using its public REST API.
								</p>
							</header>
							<ul class="icons major">
								<img src="{% static 'app_front/images/image_1.png' %}" alt="" />
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">

						<section class="spotlight">
							<div class="image"><img src="{% static 'app_front/images/dashboard2.jpg' %}" alt="" /></div><div class="content">
								<h2>Data Visualisations</h2>
								<p>
									Visualisations and analysis to make sense of your asset data, from the big picture to small details.
								</p>
							</div>
						</section>

						<section class="spotlight">
							<div class="image"><img src="{% static 'app_front/images/ai.jpg' %}" alt="" /></div><div class="content">
								<h2>AI machine learning and nuaral networks</h2>
								<p>
									Our edge nodes incorporate AI sensing technollogy and use TensorFlow Lite trained models to asses images, video feeds and data.
									We can tailor our nodes to suit your monitoring need be it analog gauge OCR through to behavior predictions based on historical data.
									We will develope and train AI model to improve your buisiness.
								</p>
							</div>
						</section>
						
						<section class="spotlight">
							<div class="image"><img src="{% static 'app_front/images/iot.jpg' %}" alt="" /></div><div class="content">
								<h2>Integration</h2>
								<p>
									Extensibility to bridge applications and IoT data, turning insights into action.
								</p>
							</div>
						</section>

						<section class="spotlight">
							<div class="image"><img src="{% static 'app_front/images/real_time.jpg' %}" alt="" /></div><div class="content">
								<h2>Real-time insights</h2>
								<p>
									Provide real-time insights to make strategic decisions and improve efficiency. 
									Edge-to-cloud architecture with AI can give you real-time intelligence. 
									An intelligent edge environment may just give you the competitive advantage you seek.
								</p>
							</div>
						</section>	

					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>View the big picture, analyze every little detail</h2>
								<p>
									Get a real-time read on the health of your devices with customizable Dashboards. 
									Drill into device telemetry using queries in Data Explorer.
								</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane">
									<h3>Hardware</h3>
									<p>
										Our Hardware includes a wide range of devices such as devices for routing, bridges, sensors etc. 
										These devices manage key tasks and functions such as data acquisition , security, 
										action specifications, communication, and detection of support-specific goals and actions. 
										Our Hardware components can vary from low-power boards; single-board processors like the 
										ESP32 which are basically smaller boards that are plugged into mainboards to improve 
										and increase its functionality by bringing out specific functions or features (such as GPS, 
										light and heat sensors, RS232 serial communication, or interactive displays). 
									</p>
								</li>
								<li class="icon solid fa-laptop">
									<h3>Software</h3>
									<p>
										We have 3 programming facets to our system, the acuisition, processing and tranceiving of data on 
										the edge, the dashboarding interface programming and finaly the data storage and REST API interface.
										We write bespoke firmware for our edge devices which allows us to make improvements and changes on the fly 
										to cater to our customers needs.
									</p>
								</li>
								<li class="icon solid fa-code">
									<h3>Security</h3>
									<p>
										We have an end to end encrypted system, all node data is encrypted and measures have been put in place to safe gaured our clients data. 
										We using a two-key asymmetric cryptosystem, PKI is able to facilitate the encryption and decryption of private messages and interactions 
										using digital certificates. We protecting our network by ensuring port security, disabling port forwarding and never opening ports 
										when not needed; using antimalware, firewalls and intrusion detection systems/intrusion prevention systems; blocking unauthorized IP 
										(Internet Protocol) addresses; and ensuring systems are patched and up to date. 
									</p>
								</li>
								<li class="icon solid fa-headphones-alt">
									<h3>Legacy Instrumentation and Systems</h3>
									<p>
										Our edge nodes are able to communicate with any communication protocole to retrieve data from existing systems and integrate them 
										into a centralised monitoring infrustructure. We provide a digital twin of the instruments or system and can incorporate aditional 
										sensors to allow for continuose condition monitoring and data acquisition.
									</p>
								</li>
								<li class="icon fa-heart">
									<h3>Communication Technollogy</h3>
									<p>
										We use variouse communication technollories to achieve the goals of our clients. 
										For remote long range comms in areas with limitations we use LORAWAN autonomouse gateways and nodes.
										Where possible we use existigs communication ifrustructure and encrypt data transmission.
									</p>
								</li>
								<li class="icon fa-flag">
									<h3>Data Storage and API Access</h3>
									<p>
										Our data is stored in a cloud base SQL database and we have provided an encrypter REST API to access the data for the integration of 3rd party systems
									</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Our Story</h2>
								<p>We have provided real-time solutions for companies and instututions in the marine industry, health sector, processing plants and mereorlogical stations. Please click here to view more.</p>
							</header>
							<ul class="actions stacked">
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://twitter.com/enviroscan_io" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/enviroscan_iot/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; enviroscan.io</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'app_front/js/jquery.min.js' %}" ></script>
			<script src="{% static 'app_front/js/jquery.scrollex.min.js' %}" ></script>
			<script src="{% static 'app_front/js/jquery.scrolly.min.js' %}" ></script>
			<script src="{% static 'app_front/js/browser.min.js' %}" ></script>
			<script src="{% static 'app_front/js/breakpoints.min.js' %}" ></script>
			<script src="{% static 'app_front/js/util.js' %}" ></script>
			<script src="{% static 'app_front/js/main.js' %}" ></script>

	</body>
</html>