.chartwrapper {
    height: 100%; 
    width: 100%;
  }
   
#chartPicarro {
    width: 100%;
    height: 100%;   
  }

.radar-widget-1 {
    position: absolute;
    top: 0px;
    right: 40px;
    height: 50px;
    width: 15%;
    white-space: nowrap;
}

.radar-widget-2 {
    position: absolute;
    top: 50px;
    right: 40px;
    height: 50px;
    width: 15%;
    white-space: nowrap;
}

.radar-widget-3 {
    position: absolute;
    top: 100px;
    right: 40px;
    height: 50px;
    width: 15%;
    white-space: nowrap;
}

.radar-widget-4 {
    position: absolute;
    top: 150px;
    right: 40px;
    height: 50px;
    width: 15%;
    white-space: nowrap;
}

.radar-widget-5 {
    position: absolute;
    top: 200px;
    right: 40px;
    height: 50px;
    width: 15%;
    white-space: nowrap;
}

.radar-widget-6 {
    position: absolute;
    top: 250px;
    right: 40px;
    height: 50px;
    width: 15%;
    white-space: nowrap;
}

.weather_chart {
    height: 200px;
    width: 100%;
}

#grid {
    height: 300px;
}

.options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option {
    margin-top: 10px;
}

.option>span {
    margin-right: 10px;
}

.option>.dx-widget {
    display: inline-block;
    vertical-align: middle;
}

#scrollviewPicarro {
    height: 450px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 300px;
}

.dx-fieldset:first-child>h6:first-child {
    margin-top: 0;
}

.custom-height-slider {
    height: 75px;
}

.dx-field .dx-slider .dx-value {
    flex: 1;
}






#gridPicarroPM {
    font-size: 12px;
}

#gridPicarroJobs {
    font-size: 12px;
}

.dx-datagrid-header-panel {
    padding: 0;
    background-color: rgba(4, 43, 88, 0.6);
}

.dx-datagrid-header-panel .dx-toolbar {
    margin: 0;
    padding-right: 20px;
    background-color: transparent;
}

.dx-datagrid-header-panel .dx-toolbar-items-container {
    height: 50px;
}

.dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:not(:first-child) {
    background-color: rgba(4, 43, 88, 0.6);
}

.dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:last-child {
    padding-right: 10px;
}

.dx-datagrid-header-panel .dx-button {
    margin: 5px 0;
}

.dx-datagrid-header-panel .dx-button .dx-icon {
    align-content: center;
}

.informer {
    margin: 15px 0;
    height: 50px;
    width: 200px;
    text-align: center;
    color: #fff;
}

#accordion h1 {
    font-size: 20px;
}

#accordion h1,
#accordion p {
    margin: 0;
}

.dx-theme-material #accordion .dx-accordion-item-opened .dx-accordion-item-title {
    display: flex;
}

.dx-theme-material #accordion .dx-accordion-item-opened h1 {
    align-self: center;
}

#mapPicarro { height: 500px; width: 100%; }



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }