# ---- CORE ---- #
cryptography==35.0.0
asgiref==3.4.1
autopep8==1.6.0
pycodestyle==2.8.0
pytz==2021.3
Unipath==1.1
dj-database-url==0.5.0
python-decouple==3.5
gunicorn==20.1.0
whitenoise==5.3.0
djangorestframework==3.12.4
markdown==3.3.6
Pillow==9.0.0
django-crispy-forms==1.13.0

# ---- SQL ---- #
sqlparse==0.4.2
#pyodbc==4.0.32
#django-mssql-backend-azure==2.9.2
mssql-django==1.1.1
pyodbc==4.0.32
django-pandas

# ---- DJANGO ---- #
Django==3.2.11

# ---- REDIS ---- #
redis==4.0.1
asgi-redis==1.1.0

# ---- CHANNELS ---- #
channels==3.0.4
channels-redis==3.3.1

# ---- CELERY ---- #
beatserver==0.0.7
django-celery-beat==2.1.0
gevent==21.8.0

# ---- ARCHIVE ---- #
#django-mqtt-bridge==0.3.7
#balena-sdk==11.0.0
