{% load static %}
<!-- ================== BEGIN core-js ================== -->
<script src="{% static 'app_dalys/js/vendor.min.js' %}" ></script>
<script src="{% static 'app_dalys/js/app.min.js' %}" ></script>

<script src="{% static 'app_dalys/plugins/jvectormap-next/jquery-jvectormap.min.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/jvectormap-next/jquery-jvectormap-world-mill.js' %}" ></script>
<script src="{% static 'app_dalys/maps/ireland-26-site.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/apexcharts/dist/apexcharts.min.js' %}" ></script>
<script src="https://cdn3.devexpress.com/jslib/20.2.7/js/dx.all.js"></script>

<script src="{% static 'app_dalys/plugins/highlight.js/highlight.min.js' %}" ></script>
<script src="{% static 'app_dalys/js/demo/highlightjs.demo.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/datatables.net/js/jquery.dataTables.min.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/datatables.net-buttons/js/buttons.flash.min.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/datatables.net-buttons/js/buttons.html5.min.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/datatables.net-buttons/js/buttons.print.min.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}" ></script>
<script src="{% static 'app_dalys/plugins/bootstrap-table/dist/bootstrap-table.min.js' %}" ></script>

<script src="{% static 'app_dalys/maps/irelandJson.js' %}" type="text/javascript" ></script>

<script src="{% static 'app_dalys/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'app_dalys/plugins/moment/min/moment.min.js' %}"></script>
<script src="{% static 'app_dalys/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'app_dalys/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
<!-- ================== END core-js ================== -->

<!-- ================== BEGIN WIDGETS ================== -->
<script src="{% static 'app_dalys/js/widgets/widget_power.js' %}"></script>
<script src="{% static 'app_dalys/js/widgets/widget_temperature.js' %}"></script>
<script src="{% static 'app_dalys/js/widgets/widget_reports_3d.js' %}"></script>
<!-- ==================  END WIDGETS  ================== -->

