<!-- ================== BEGIN core-js ================== -->
<script src="/static/assets/js/vendor.min.js"></script>
<script src="/static/assets/js/app.min.js"></script>

<script src="/static/assets/plugins/jvectormap-next/jquery-jvectormap.min.js"></script>
<script src="/static/assets/plugins/jvectormap-next/jquery-jvectormap-world-mill.js"></script>
<script src="/static/assets/maps/ireland-26-site.js"></script>
<script src="/static/assets/plugins/apexcharts/dist/apexcharts.min.js"></script>
<script src="https://cdn3.devexpress.com/jslib/20.2.7/js/dx.all.js"></script>

<script src="/static/assets/plugins/highlight.js/highlight.min.js"></script>
<script src="/static/assets/js/demo/highlightjs.demo.js"></script>
<script src="/static/assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="/static/assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="/static/assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/static/assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
<script src="/static/assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="/static/assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>

<script type="text/javascript" src="/static/assets/maps/irelandJson.js"></script>
<!-- ================== END core-js ================== -->