{% extends "app_water/layouts/base.html" %}


		{% block content %}
		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			<!-- BEGIN container -->
			<div class="container">
				<!-- BEGIN row -->
				<div class="row justify-content-center">
					<!-- BEGIN col-10 -->
					<div class="col-xl-10">
						<!-- BEGIN row -->
						<div class="row">
							<!-- BEGIN col-9 -->
							<div class="col-xl-9">
								<h1 class="page-header">
									Documentation <small> below you will find the documentation for all related assets.</small>
								</h1>
								
								<hr class="mb-4" />
								
								<!-- BEGIN #borders -->
								<div id="Picarro_G2401" class="mb-5">
									<h4>Picarro G2401</h4>
									<p>Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons, or any other element. Please read the <a href="https://getbootstrap.com/docs/5.0/utilities/borders/" target="_blank">official documentation</a> for the full list of options.</p>
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-lg mb-lg-0 mb-3">
													<div class="small fw-bold text-white text-opacity-50 mb-3">ADDITIVE</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border me-2 bg-gray-100-transparent-5"></div> .border</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border-top me-2 bg-gray-100-transparent-5"></div> .border-top</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border-end me-2 bg-gray-100-transparent-5"></div> .border-end</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border-bottom me-2 bg-gray-100-transparent-5"></div> .border-bottom</div>
													<div class="d-flex align-items-center mb-4"><div class="w-30px h-30px border-start me-2 bg-gray-100-transparent-5"></div> .border-start</div>
													
													<div class="small fw-bold text-white text-opacity-50 mb-3">SUBTRACTIVE (REMOVE)</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-0 me-2 bg-gray-100-transparent-5"></div> .border-0</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-top-0 me-2 bg-gray-100-transparent-5"></div> .border-top-0</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-end-0 me-2 bg-gray-100-transparent-5"></div> .border-end-0</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-bottom-0 me-2 bg-gray-100-transparent-5"></div> .border-bottom-0</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-start-0 me-2 bg-gray-100-transparent-5"></div> .border-start-0</div>
												</div>
												<div class="col-lg">
													<div class="small fw-bold text-white text-opacity-50 mb-3">BORDER COLOR</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-primary me-2 bg-gray-100-transparent-5"></div> .border-primary</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-secondary me-2 bg-gray-100-transparent-5"></div> .border-secondary</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-success me-2 bg-gray-100-transparent-5"></div> .border-success</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-danger me-2 bg-gray-100-transparent-5"></div> .border-danger</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-warning me-2 bg-gray-100-transparent-5"></div> .border-warning</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-info me-2 bg-gray-100-transparent-5"></div> .border-info</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-light me-2 bg-gray-100-transparent-5"></div> .border-light</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-dark me-2 bg-gray-100-transparent-5"></div> .border-dark</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px border border-white me-2 bg-gray-100-transparent-5"></div> .border-white</div>
												</div>
											</div>
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container"><pre><code>&lt;!-- additive example --&gt;
&lt;span class="border"&gt;&lt;/span&gt;

&lt;!-- subtractive example --&gt;
&lt;span class="border-0"&gt;&lt;/span&gt;

&lt;!-- border color example --&gt;
&lt;span class="border border-primary"&gt;&lt;/span&gt;</code></pre>
										</div>
									</div>
								</div>
								<!-- END #borders -->
								
								<!-- BEGIN #borderRadius -->
								<div id="Aethalometer_AS33" class="mb-5">
									<h4>Aethalometer AS33</h4>
									<p>Add classes to an element to easily round its corners. <a href="https://getbootstrap.com/docs/5.0/utilities/borders/#border-radius" target="_blank">official documentation</a> for the full list of options.</p>
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-lg mb-lg-0 mb-3">
													<div class="small fw-bold text-white text-opacity-50 mb-3">BORDER RADIUS</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded"></div> .rounded</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded-top"></div> .rounded-top</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded-end"></div> .rounded-end</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded-bottom"></div> .rounded-bottom</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded-start"></div> .rounded-start</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded-pill"></div> .rounded-pill</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded-circle"></div> .rounded-circle</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded-0"></div> .rounded-0</div>
												</div>
												<div class="col-lg">
													<div class="small fw-bold text-white text-opacity-50 mb-3">BORDER RADIUS SIZES</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded"></div> .rounded</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded-1"></div> .rounded-1</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded-2"></div> .rounded-2</div>
													<div class="d-flex align-items-center mb-4"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded-3"></div> .rounded-3</div>
													<div class="small fw-bold text-white text-opacity-50 mb-3">REMOVE SIDE BORDER RADIUS</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded rounded-top-0"></div> .rounded-top-0</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded rounded-top-start-0"></div> .rounded-top-start-0</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded rounded-top-end-0"></div> .rounded-top-end-0</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded rounded-bottom-0"></div> .rounded-bottom-0</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded rounded-bottom-start-0"></div> .rounded-bottom-start-0</div>
													<div class="d-flex align-items-center mb-1"><div class="w-60px h-30px me-2 bg-white bg-opacity-25 rounded rounded-bottom-end-0"></div> .rounded-bottom-end-0</div>
												</div>
											</div>
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container"><pre><code>&lt;!-- border-radius example --&gt;
&lt;img src="" alt="" class="rounded" /&gt;

&lt;!-- border-radius sizes example --&gt;
&lt;img src="" alt="" class="rounded-sm" /&gt;
</code></pre>
										</div>
									</div>
								</div>
								<!-- END #borderRadius -->
								
								<!-- BEGIN #textColor -->
								<div id="NOX" class="mb-5">
									<h4>NOX</h4>
									<p>Convey meaning through color with a handful of color utility classes. Includes support for styling links with hover states, too. Please read the <a href="https://getbootstrap.com/docs/5.0/utilities/colors/#color" target="_blank">official documentation</a> for the full list of options.</p>
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-lg mb-lg-0 mb-3">
													<div class="text-white text-opacity-50 fw-bold small mb-3">BOOTSTRAP TEXT COLOR</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-primary font-weight-bolder">T</div> .text-primary</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-secondary font-weight-bolder">T</div> .text-secondary</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-success font-weight-bolder">T</div> .text-success</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-danger font-weight-bolder">T</div> .text-danger</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-warning font-weight-bolder">T</div> .text-warning</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-info font-weight-bolder">T</div> .text-info</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-dark font-weight-bolder">T</div> .text-dark</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-body font-weight-bolder">T</div> .text-body</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-muted font-weight-bolder">T</div> .text-muted</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-black-50 font-weight-bolder">T</div> .text-black-50</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-white font-weight-bolder bg-dark border-dark">T</div> .text-white</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-light font-weight-bolder bg-dark border-dark">T</div> .text-light</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-white-50 font-weight-bolder bg-dark border-dark">T</div> .text-white-50</div>
												</div>
												<div class="col-lg">
													<div class="text-white text-opacity-50 fw-bold small mb-3">EXTENDED TEXT COLOR</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-teal font-weight-bolder">T</div> .text-teal</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-indigo font-weight-bolder">T</div> .text-indigo</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-purple font-weight-bolder">T</div> .text-purple</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-yellow font-weight-bolder">T</div> .text-yellow</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-gray-100 font-weight-bolder">T</div> .text-gray-100</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-gray-200 font-weight-bolder">T</div> .text-gray-200</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-gray-300 font-weight-bolder">T</div> .text-gray-300</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-gray-400 font-weight-bolder">T</div> .text-gray-400</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-gray-500 font-weight-bolder">T</div> .text-gray-500</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-gray-600 font-weight-bolder">T</div> .text-gray-600</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-gray-700 font-weight-bolder">T</div> .text-gray-700</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-gray-800 font-weight-bolder">T</div> .text-gray-800</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-gray-900 font-weight-bolder">T</div> .text-gray-900</div>
												</div>
											</div>
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container"><pre><code class="xml">&lt;!-- example --&gt;
&lt;p class="text-theme"&gt;&lt;/p&gt;</code></pre>
										</div>
									</div>
								</div>
								<!-- END #textColor -->
								
								<!-- BEGIN #textTransparentColor -->
								<div id="SOX" class="mb-5">
									<h4>SOX</h4>
									<p>We are now support text transparent from 10% to 90% opacity. It is also applicable for any other text class as well <code>.text-teal-transparent-*</code>.</p>
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-lg mb-lg-0 mb-3">
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-5 font-weight-bolder">T</div> .text-opacity-5</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-10 font-weight-bolder">T</div> .text-opacity-10</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-15 font-weight-bolder">T</div> .text-opacity-15</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-20 font-weight-bolder">T</div> .text-opacity-20</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-25 font-weight-bolder">T</div> .text-opacity-25</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-30 font-weight-bolder">T</div> .text-opacity-30</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-35 font-weight-bolder">T</div> .text-opacity-35</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-40 font-weight-bolder">T</div> .text-opacity-40</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-45 font-weight-bolder">T</div> .text-opacity-45</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-50 font-weight-bolder">T</div> .text-opacity-50</div>
												</div>
												<div class="col-lg">
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-55 font-weight-bolder">T</div> .text-opacity-55</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-60 font-weight-bolder">T</div> .text-opacity-60</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-65 font-weight-bolder">T</div> .text-opacity-65</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-70 font-weight-bolder">T</div> .text-opacity-70</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-75 font-weight-bolder">T</div> .text-opacity-75</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-80 font-weight-bolder">T</div> .text-opacity-80</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-85 font-weight-bolder">T</div> .text-opacity-85</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-90 font-weight-bolder">T</div> .text-opacity-90</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme text-opacity-95 font-weight-bolder">T</div> .text-opacity-95</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px me-2 border fs-16px d-flex align-items-center justify-content-center text-theme font-weight-bolder">T</div> .text-theme</div>
												</div>
											</div>
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container"><pre><code class="xml">&lt;!-- example --&gt;
&lt;p class="text-theme text-opacity-50"&gt;&lt;/p&gt;</code></pre>
										</div>
									</div>
								</div>
								<!-- END #textTransparentColor -->
								
								<!-- BEGIN #backgroundColor -->
								<div id="Autosonde_AS41" class="mb-5">
									<h4>Autosonde AS41</h4>
									<p>Similar to the contextual text color classes, easily set the background of an element to any contextual class. Anchor components will darken on hover, just like the text classes. Background utilities <b>do not set color</b>, so in some cases you’ll want to use <code>.text-*</code> utilities. Please read the <a href="https://getbootstrap.com/docs/5.0/utilities/colors/#background-color" target="_blank">official documentation</a> for the full list of options.</p>
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-lg mb-lg-0 mb-3">
													<div class="text-white text-opacity-50 fw-bold small mb-3">BOOTSTRAP BACKGROUND COLOR</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-primary me-2"></div> .bg-primary</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-secondary me-2"></div> .bg-secondary</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-success me-2"></div> .bg-success</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-danger me-2"></div> .bg-danger</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-warning me-2"></div> .bg-warning</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-info me-2"></div> .bg-info</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-light me-2"></div> .bg-light</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-dark me-2"></div> .bg-dark</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded border bg-white me-2"></div> .bg-white</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded border bg-transparent me-2"></div> .bg-transparent</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded border bg-none me-2"></div> .bg-none</div>
												</div>
												<div class="col-lg">
													<div class="text-white text-opacity-50 fw-bold small mb-3">EXTENDED BACKGROUND COLOR</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-teal me-2"></div> .bg-teal</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-indigo me-2"></div> .bg-indigo</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-purple me-2"></div> .bg-purple</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-yellow me-2"></div> .bg-yellow</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gray-100 me-2"></div> .bg-gray-100</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gray-200 me-2"></div> .bg-gray-200</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gray-300 me-2"></div> .bg-gray-300</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gray-400 me-2"></div> .bg-gray-400</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gray-500 me-2"></div> .bg-gray-500</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gray-600 me-2"></div> .bg-gray-600</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gray-700 me-2"></div> .bg-gray-700</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gray-800 me-2"></div> .bg-gray-800</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gray-900 me-2"></div> .bg-gray-900</div>
												</div>
											</div>
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container"><pre><code class="xml">&lt;!-- example --&gt;
&lt;div class="bg-primary w-30px h-30px rounded"&gt;&lt;/div&gt;</code></pre>
										</div>
									</div>
								</div>
								<!-- END #textTransparentColor -->
								
								<!-- BEGIN #backgroundGradientColor -->
								<div id="Tucson_Station" class="mb-5">
									<h4>Tucson Station</h4>
									<p>We have created every single color gradient based on the color variable defined in scss files <code>/scss/_variables.scss</code>. You may add more color code and class that you want as well.</p>
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-lg mb-lg-0 mb-3">
													<div class="text-white text-opacity-50 fw-bold small mb-3">BOOTSTRAP GRADIENT CLASS</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-primary me-2"></div> .bg-gradient-primary</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-secondary me-2"></div> .bg-gradient-secondary</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-success me-2"></div> .bg-gradient-success</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-danger me-2"></div> .bg-gradient-danger</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-warning me-2"></div> .bg-gradient-warning</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-info me-2"></div> .bg-gradient-info</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-light me-2"></div> .bg-gradient-light</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-dark me-2"></div> .bg-gradient-dark</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-white me-2"></div> .bg-gradient-white</div>
												</div>
												<div class="col-lg">
													<div class="text-white text-opacity-50 fw-bold small mb-3">EXTENDED GRADIENT</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-teal me-2"></div> .bg-gradient-teal</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-indigo me-2"></div> .bg-gradient-indigo</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-purple me-2"></div> .bg-gradient-purple</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-yellow me-2"></div> .bg-gradient-yellow</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-gray-100 me-2"></div> .bg-gradient-gray-100</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-gray-200 me-2"></div> .bg-gradient-gray-200</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-gray-300 me-2"></div> .bg-gradient-gray-300</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-gray-400 me-2"></div> .bg-gradient-gray-400</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-gray-500 me-2"></div> .bg-gradient-gray-500</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-gray-600 me-2"></div> .bg-gradient-gray-600</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-gray-700 me-2"></div> .bg-gradient-gray-700</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-gray-800 me-2"></div> .bg-gradient-gray-800</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-gray-900 me-2"></div> .bg-gradient-gray-900</div>
												</div>
											</div>
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container"><pre><code class="xml">&lt;!-- example --&gt;
&lt;div class="bg-gradient-primary w-30px h-30px rounded"&gt;&lt;/div&gt;</code></pre>
										</div>
									</div>
								</div>
								<!-- END #backgroundGradientColor -->
								
								<!-- BEGIN #backgroundGradientFancyColor -->
								<div id="Generators" class="mb-5">
									<h4>Generators</h4>
									<p>We have create different fancy yet beautiful linear gradient based on the color variable that we have. You may add more combination in <code>/scss/_helper.scss</code></p>
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-lg mb-lg-0 mb-3">
													<div class="text-white text-opacity-50 fw-bold small mb-3">FANCY GRADIENT</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-red-pink me-2"></div> .bg-gradient-red-pink</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-orange-red me-2"></div> .bg-gradient-orange-red</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-yellow-red me-2"></div> .bg-gradient-yellow-red</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-yellow-orange me-2"></div> .bg-gradient-yellow-orange</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-yellow-green me-2"></div> .bg-gradient-yellow-green</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-cyan-blue me-2"></div> .bg-gradient-cyan-blue</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-cyan-indigo me-2"></div> .bg-gradient-cyan-indigo</div>
												</div>
												<div class="col-lg">
													<div class="text-white text-opacity-50 fw-bold small mb-3">CUSTOM GRADIENT</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-custom-orange me-2"></div> .bg-gradient-custom-orange</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-custom-pink me-2"></div> .bg-gradient-custom-pink</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-custom-teal me-2"></div> .bg-gradient-custom-teal</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-custom-indigo me-2"></div> .bg-gradient-custom-indigo</div>
													<div class="d-flex align-items-center mb-1"><div class="w-30px h-30px rounded bg-gradient-custom-blue me-2"></div> .bg-gradient-custom-blue</div>
												</div>
											</div>
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container"><pre><code class="xml">&lt;!-- example --&gt;
&lt;div class="bg-gradient-orange-red w-30px h-30px rounded "&gt;&lt;/div&gt;</code></pre>
										</div>
									</div>
								</div>
								<!-- END #backgroundGradientFancyColor -->
								
								<!-- BEGIN #displayProperty -->
								<div id="UPS" class="mb-5">
									<h4>UPS</h4>
									<p>Quickly and responsively toggle the display value of components and more with our display utilities. Includes support for some of the more common values, as well as some extras for controlling display when printing. Please read the <a href="https://getbootstrap.com/docs/5.0/utilities/display/" target="_blank">official documentation</a> for the full list of options.</p>
									<div class="card">
										<div class="card-body">
											<p>
												Display utility classes that apply to all breakpoints, from <code>xs</code> to <code>xl</code>. As such, the classes are named using the format:
											</p>
											<ul>
												<li><code>.d-{value}</code> for <code>xs</code></li>
												<li><code>.d-{breakpoint}-{value}</code> for <code>sm</code>, <code>md</code>, <code>lg</code>, and <code>xl</code>.</li>
											</ul>
											<p>
												Where <code>{value}</code> is one of:
											</p>
											<ul>
												<li><code>none</code></li>
												<li><code>inline</code></li>
												<li><code>inline-block</code></li>
												<li><code>block</code></li>
												<li><code>table</code></li>
												<li><code>table-cell</code></li>
												<li><code>table-row</code></li>
												<li><code>flex</code></li>
												<li><code>inline-flex</code></li>
											</ul>
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container"><pre><code class="xml">&lt;!-- example --&gt;
&lt;div class="d-none d-md-block"&gt;&lt;/div&gt;</code></pre>
										</div>
									</div>
								</div>
								<!-- END #displayProperty -->
								
								
							</div>
							<!-- END col-9-->
							<!-- BEGIN col-3 -->
							<div class="col-xl-3">
								<!-- BEGIN #sidebar-bootstrap -->
								<nav id="sidebar-bootstrap" class="navbar navbar-sticky">
									<nav class="nav">
										<a class="nav-link" href="#Picarro_G2401" data-toggle="scroll-to">Picarro G2401</a>
										<a class="nav-link" href="#Aethalometer_AS33" data-toggle="scroll-to">Aethalometer AS33</a>
										<a class="nav-link" href="#NOX" data-toggle="scroll-to">NOX</a>
										<a class="nav-link" href="#SOX" data-toggle="scroll-to">SOX</a>
										<a class="nav-link" href="#Autosonde_AS41" data-toggle="scroll-to">Autosonde AS41</a>
										<a class="nav-link" href="#Tucson_Station" data-toggle="scroll-to">Tucson Station</a>
										<a class="nav-link" href="#Generators" data-toggle="scroll-to">Generators</a>
										<a class="nav-link" href="#UPS" data-toggle="scroll-to">UPS</a>
									</nav>
								</nav>
								<!-- END #sidebar-bootstrap -->
							</div>
							<!-- END col-3 -->
						</div>
						<!-- END row -->
					</div>
					<!-- END col-10 -->
				</div>
				<!-- END row -->
			</div>
			<!-- END container -->
		</div>
		<!-- END #content -->
		{% endblock content %}


		<!-- Specific Page JS goes HERE  -->
		{% block javascripts %}
		
		<script src="/static/assets/js/home.js"></script>
		
		{% endblock javascripts %}