{% extends "app_dalys/layouts/base.html" %}


{% block content %}
<!-- BEGIN #content -->
<div id="content" class="app-content">
	<!-- BEGIN page-header -->
	<div class="d-flex fw-bold small">
		<span class="flex-grow-1">
			<h1 class="page-header">
				<i class="bi bi-power"></i> Mobile
			</h1>
			<div class="text-white small mb-2"><b></b></div>
		</span>
	</div>
	<!-- END page-header -->

	<!-- BEGIN -->
	<!-- BEGIN #listWidget -->
	<div id="listWidget" class="mb-5">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-xl-12">

						{% for node in node_list %}

							<!-- BEGIN SUPPLY -->
							{% ifchanged node.Type %}
							<div class="text-white mb-2"><b>{{ node.Type }}</b></div>
							{% endifchanged %}
							<!-- INSERT WIDGETS -->
							{% if node.Type|lower == "power" %}
								{% include 'app_dalys/includes/widgets/widget_power.html' %}
							{% elif node.Type|lower == "temperature" %}
								{% include 'app_dalys/includes/widgets/widget_temperature.html' %}
							{% endif %}
							
						{% endfor %}

					</div>					
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
	<!-- END -->
</div>
<!-- END #content -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
	// GET DATA
	function reviver_1(key, value) {
		if (key === 'Data_DateTime' || key === 'Start_Date') {
			return new Date(value);
		}
		return value;
	}
	var node_data = JSON.parse('{{node_data|escapejs}}', reviver_1).Data;
	// SETUP CONTROLS
	function page_setup() {		
		$.each(node_data, function(i, node) {	
			if (node.Type == 'Power') {				
				create_power_controls(node.id, node);			
			} else if (node.Type == 'Temperature') {
				create_temperature_controls(node.id, node);
			}
		});
	}	
	// POPULATE DATA
	function data_setup() {
		$.each(node_data, function(i, node) {
			var readings = [];
			var start = new Date(moment().subtract(24, 'hours').format());
			var end =  new Date(moment().format());
			if (node.Type == 'Power') {				
				change_power_data(node.id, node, start, end, '10Min');				
			} else if (node.Type == 'Temperature') {
				change_temperature_data(node.id, node, start, end, '10Min');
			}
		});
	}
	//* CONTROLLER
	$(document).ready(function () {			
		page_setup();
		data_setup();
		Power_WebSocket();
		Temperature_WebSocket();		
		//var interval_status = 60000; // 60 secs
		//setInterval(ajax_call, interval_status);
		$(document).on('theme-reload', function () {
			page_setup();
			data_setup();
			Power_WebSocket();
			Temperature_WebSocket();
		});

	});
</script>
{% endblock javascripts %}