{% extends "app_dalys/layouts/base.html" %}


{% block content %}
<!-- BEGIN #content -->
<div id="content" class="app-content">
	<!-- BEGIN page-header -->
	<div class="d-flex fw-bold small">
		<span class="flex-grow-1">
			<h1 class="page-header">
				<i class="bi bi-power"></i> Mobile
			</h1>
			<div class="text-white small mb-2"><b></b></div>
		</span>
	</div>
	<!-- END page-header -->

	<!-- BEGIN -->
	<!-- BEGIN #listWidget -->
	<div id="listWidget" class="mb-5">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-xl-12">

					{% for node in node_list %}

						<!-- BEGIN SUPPLY -->
						{% ifchanged node.Type %}
						<div class="text-white small mb-2"><b>{{ node.Type }}</b></div>
						{% endifchanged %}

						<div class="list-group mb-1">

							<!-- BEGIN NODE -->
							<input type="hidden" id="hidden_Node_Status_{{ node.id }}" value="0">
							<input type="hidden" id="hidden_Node_Status_{{ node.id }}" value="0">
							<div class="list-group-item d-flex align-items-center">
								<a href="#" class="text-white text-opacity-50" data-bs-toggle="collapse" data-bs-target="#collapse_{{ node.id }}" id="#go_map_{{ node.id }}">
									<div id="Status_{{ node.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1">
										{{ node.Name|make_list|first }}
									</div>
								</a>
								<div class="flex-fill px-3">									
									<a href="#" class="text-white" data-bs-toggle="collapse" data-bs-target="#collapse_{{ node.id }}" id="slider_{{ node.id }}">							
										<div class="fw-bold">{{ node.Name }}</div>
									</a>
								</div>
								<div class="opacity-10 px-3">									 
									<div class="fw-bold"><span id="value_main_{{ node.id }}">0</span>
								</div>
								</div>
								<div class="opacity-10 px-3">
									<span id="Node_Status_{{ node.id }}" class="badge bg-theme" data-bs-toggle="tooltip">M</span>
									<span id="Node_Status_{{ node.id }}" class="badge bg-theme" data-bs-toggle="tooltip">N</span>
								</div>
							</div>
							<!-- END NODE -->

							<!-- BEGIN NODE DETAILS -->
							<div class="collapse list-group-item" id="collapse_{{ node.id }}">

								<!-- BEGIN nav-tabs -->
								<ul class="nav nav-tabs nav-tabs">
									<li class="nav-item me-3"><a href="#home_{{ node.id }}" class="nav-link active" data-bs-toggle="tab">Data</a></li>
									<li class="nav-item me-3"><a href="#details_{{ node.id }}" class="nav-link" data-bs-toggle="tab">Details</a></li>
									<li class="nav-item me-3"><a href="#logs_{{ node.id }}" class="nav-link" data-bs-toggle="tab">Logs</a></li>
									<li class="nav-item me-3"><a href="#settings_{{ node.id }}" class="nav-link" data-bs-toggle="tab">Settings</a></li>
								</ul>
								<!-- END nav-tabs -->

								<!-- BEGIN tab-content -->
								<div class="tab-content pt-1">
									<!-- BEGIN tab-pane -->
									<div class="tab-pane fade show active" id="home_{{ node.id }}">
										<!-- BEGIN TOOLBAR -->
										<nav class="navbar navbar-expand-lg navbar-dark bg-opacity-25 rounded">
											<div class="container-fluid">
												<!-- BEGIN REFRESH BUTTON -->
												<div class="opacity-10 px-1">
													<button id="refresh_{{ node.id }}" type="button" class="btn btn-outline-theme btn-sm"><i class="fa fa-redo"></i></button>
												</div>
												<!-- END REFRESH BUTTON -->
												<!-- BEGIN DATE PICKER -->
												<div class="flex-fill px-1">
													<div id="daterange_{{ node.id }}" class="btn btn-outline-theme d-flex align-items-center text-start btn-sm">
														<span class="text-truncate">&nbsp;</span>
														<i class="fa fa-caret-down ms-auto"></i>
													</div>
												</div>
												<!-- END DATE PICKER -->
												<!-- BEGIN SELECT CHART TYPE -->
												<select id="select_chart_type_{{ node.id }}" class="form-select btn-outline-theme form-select-sm" style="width: 100px;">
													<option value="Bar"><i class="fa fa-bar-chart"></i>Bar</option>
													<option value="Line"><i class="fa fa-line-chart"></i>Line</option>
													<option value="Polar"><i class="fa fa-pie-chart"></i>Polar</option>
												</select>
												<!-- END SELECT CHART TYPE -->
												<!-- BEGIN FIND BUTTON -->
												<div class="opacity-10 px-1">
													<button id="find_{{ node.id }}" type="button" class="btn btn-outline-theme btn-sm"><i class="fa fa-search"></i></button>
												</div>
												<!-- END FIND BUTTON -->
											</div>
										</nav>
										<!-- END TOOLBAR -->
										<!-- BEGIN row -->
										<div class="row">
											<div class="col-9">												
												<!-- BEGIN CHART -->
												<div class="pt-1 flex-1">
													<div id="node_chart_{{ node.id }}" class="pt-1 flex-1"></div>
													<div id="node_chart_polar_{{ node.id }}" class="pt-1 flex-1"></div>												
												</div>
												<!-- END CHART -->
											</div>
											<div class="col-3">
												<!-- BEGIN COST -->
												<div class="w-150px h-98px pt-1 ps-3">
													<div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
														COST (€)
													</div>
													<div class="mb-2 fs-5 text-truncate">
														<h4 class="mb-0"><span id="cost_value_{{ node.id }}">0</span> </h4>
													</div>
													<div class="progress h-3px bg-white-transparent-2 mb-2">
														<div class="progress-bar bg-theme" id="cost_bar_{{ node.id }}" style="width: 0%"></div>
													</div>
													<div class="fs-11px text-white text-opacity-50 mb-0 text-truncate">
														<i class="bi bi-circle-fill fs-6px me-2 text-theme"></i>
														<span id="cost_day_{{ node.id }}"></span>
													</div>
													<div class="fs-11px text-white text-opacity-50 mb-2 text-truncate">
														<i class="bi bi-circle-fill fs-6px me-2 text-theme"></i>
														<span id="cost_night_{{ node.id }}"></span>
													</div>
												</div>
												<!-- END COST -->
												<!-- BEGIN CONSUMED -->
												<div class="w-150px h-98px pt-1 ps-3">
													<div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
														CONSUMED (kVA/h)
													</div>													
													<div class="mb-2 fs-5 text-truncate">
														<h4 class="mb-0"><span id="total_kwh_value_{{ node.id }}">0</span></h4>
													</div>
													<div class="progress h-3px bg-white-transparent-2 mb-1">
														<div class="progress-bar bg-theme" id="total_kwh_bar_{{ node.id }}" style="width: 0%"></div>
													</div>
													<div class="fs-11px text-white text-opacity-50 mb-0 text-truncate">
														<i class="bi bi-circle-fill fs-6px me-2 text-theme"></i>
														<span id="total_kwh_day_{{ node.id }}"></span>
													</div>
													<div class="fs-11px text-white text-opacity-50 mb-2 text-truncate">
														<i class="bi bi-circle-fill fs-6px me-2 text-theme"></i>
														<span id="total_kwh_night_{{ node.id }}"></span>
													</div>
												</div>
												<!-- END CONSUMED -->												
											</div>
										</div>
										<div class="row">
											<div class="col-lg-3 mb-3 mb-lg-0">
												<div class="d-flex align-items-center bg-white bg-opacity-15">
													<div class="ps-3 m-5px flex-1">

														<div class="row align-items-center mb-0">
															<div class="col-8">
																<div class="fs-10px fw-bold text-white text-opacity-50 mb-0">VOLTAGE</div>
																<h5><span id="vrms_total_{{ node.id }}"></span> V</h5>
															</div>
															<div class="col-4">
																<i class="fa fa-chart-line fa-1x"></i>
															</div>
														</div>
														
														<div class="fs-11px text-white text-opacity-50 mb-0 text-truncate">
															<i class="bi bi-circle-fill fs-6px me-2 text-info"></i>
															L1: <span id="vrms_l1_{{ node.id }}"></span> V
														</div>
														<div class="fs-11px text-white text-opacity-50 mb-0 text-truncate">
															<i class="bi bi-circle-fill fs-6px me-2 text-red"></i>
															L2: <span id="vrms_l2_{{ node.id }}"></span> V
														</div>
														<div class="fs-11px text-white text-opacity-50 mb-0 text-truncate">
															<i class="bi bi-circle-fill fs-6px me-2 text-green"></i>
															L3: <span id="vrms_l3_{{ node.id }}"></span> V
														</div>

													</div>
												</div>
											</div>										
											<div class="col-lg-3">
												<div class="d-flex bg-white bg-opacity-15">
													<div class="ps-3 m-5px flex-1">

														<div class="row align-items-center mb-0">
															<div class="col-8">
																<div class="fs-10px fw-bold text-white text-opacity-50 mb-0">CURRENT</div>
																<h5><span id="irms_total_{{ node.id }}"></span> A</h5>
															</div>
															<div class="col-4">
																<i class="fa fa-chart-line fa-1x"></i>
															</div>
														</div>
														
														<div class="fs-11px text-white text-opacity-50 mb-0 text-truncate">
															<i class="bi bi-circle-fill fs-6px me-2 text-info"></i>
															L1: <span id="irms_l1_{{ node.id }}"></span> A
														</div>
														<div class="fs-11px text-white text-opacity-50 mb-0 text-truncate">
															<i class="bi bi-circle-fill fs-6px me-2 text-red"></i>
															L2: <span id="irms_l2_{{ node.id }}"></span> A
														</div>
														<div class="fs-11px text-white text-opacity-50 mb-0 text-truncate">
															<i class="bi bi-circle-fill fs-6px me-2 text-green"></i>
															L3: <span id="irms_l3_{{ node.id }}"></span> A
														</div>

													</div>										
												</div>
											</div>
											<div class="col-lg-3">
												<div class="d-flex bg-white bg-opacity-15">
													<div class="ps-3 m-5px flex-1">
														
														<div class="row align-items-center mb-0">
															<div class="col-8">
																<div class="fs-10px fw-bold text-white text-opacity-50 mb-0">POWER</div>
																<h5><span id="power_total_{{ node.id }}"></span> kVA</h5>
															</div>
															<div class="col-4">
																<i class="fa fa-chart-line fa-1x"></i>
															</div>
														</div>
														
														<div class="fs-11px text-white text-opacity-50 mb-0 text-truncate">
															<i class="bi bi-circle-fill fs-6px me-2 text-info"></i>
															L1: <span id="power_l1_{{ node.id }}"></span> kVA
														</div>
														<div class="fs-11px text-white text-opacity-50 mb-0 text-truncate">
															<i class="bi bi-circle-fill fs-6px me-2 text-red"></i>
															L2: <span id="power_l2_{{ node.id }}"></span> kVA
														</div>
														<div class="fs-11px text-white text-opacity-50 mb-0 text-truncate">
															<i class="bi bi-circle-fill fs-6px me-2 text-green"></i>
															L3: <span id="power_l3_{{ node.id }}"></span> kVA
														</div>

													</div>										
												</div>
											</div>											
										</div>
										<!-- END row -->
									</div>
									<!-- END tab-pane -->
									<!-- BEGIN tab-pane -->
									<div class="tab-pane fade" id="details_{{ node.id }}">

										<!-- BEGIN DETAILS ROW -->
										<div class="d-flex pt-2 align-items-center">
											<div id="Status_{{ node.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
											<div class="flex-fill fs-12px px-3">
												START OF LOGGING
											</div>			
											<div class="fs-12px ms-auto">
												{{ node.Start_Date }}
											</div>
										</div>
										<!-- END DETAILS ROW -->
										<!-- BEGIN DETAILS ROW -->
										<div class="d-flex pt-2 align-items-center">
											<div id="Status_{{ node.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
											<div class="flex-fill fs-12px px-3">
												START INDEX
											</div>			
											<div class="fs-12px ms-auto">
												{{ node.Start_Index }} kW
											</div>
										</div>
										<!-- END DETAILS ROW -->
										<!-- BEGIN DETAILS ROW -->
										<div class="d-flex pt-2 align-items-center">
											<div id="Status_{{ node.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
											<div class="flex-fill fs-12px px-3">
												TOTAL CONSUMPTION
											</div>			
											<div class="fs-12px ms-auto">
												{{ node.Start_Index }} kW
											</div>
										</div>
										<!-- END DETAILS ROW -->
										<!-- BEGIN DETAILS ROW -->
										<div class="d-flex pt-2 align-items-center">
											<div id="Status_{{ node.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
											<div class="flex-fill fs-12px px-3">
												PULSE UNIT MEASUREMENT
											</div>			
											<div class="fs-12px ms-auto">
												{{ node.Pulse_Unit_Measurement }}
											</div>
										</div>
										<!-- END DETAILS ROW -->
										<!-- BEGIN DETAILS ROW -->
										<div class="d-flex pt-2 align-items-center">
											<div id="Status_{{ node.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
											<div class="flex-fill fs-12px px-3">
												PULSE UNIT VALUE
											</div>			
											<div class="fs-12px ms-auto">
												{{ node.Pulse_Unit_Value }}
											</div>
										</div>
										<!-- END DETAILS ROW -->
										<!-- BEGIN DETAILS ROW -->
										<div class="d-flex pt-2 align-items-center">
											<div id="Status_{{ node.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
											<div class="flex-fill fs-12px px-3">
												LOCATION LAT
											</div>			
											<div class="fs-12px ms-auto">
												{{ node.Lat }}
											</div>
										</div>
										<!-- END DETAILS ROW -->
										<!-- BEGIN DETAILS ROW -->
										<div class="d-flex pt-2 align-items-center">
											<div id="Status_{{ node.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
											<div class="flex-fill fs-12px px-3">
												LOCATION LNG
											</div>			
											<div class="fs-12px ms-auto">
												{{ node.Lng }}
											</div>
										</div>
										<!-- END DETAILS ROW -->
										<!-- BEGIN DETAILS ROW -->
										<div class="d-flex pt-2 align-items-center">
											<div id="Status_{{ node.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
											<div class="flex-fill fs-12px px-3">
												NODE TYPE
											</div>			
											<div class="fs-12px ms-auto">
												{{ node.Type }}
											</div>
										</div>
										<!-- END DETAILS ROW -->
										<!-- BEGIN DETAILS ROW -->
										<div class="d-flex pt-2 align-items-center">
											<div id="Status_{{ node.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
											<div class="flex-fill fs-12px px-3">
												REGION
											</div>			
											<div class="fs-12px ms-auto">
												{{ node.Region }}
											</div>
										</div>
										<!-- END DETAILS ROW -->
										<!-- BEGIN DETAILS ROW -->
										<div class="d-flex pt-2 align-items-center">
											<div id="Status_{{ node.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
											<div class="flex-fill fs-12px px-3">
												CATEGORY
											</div>			
											<div class="fs-12px ms-auto">
												{{ node.Category }}
											</div>
										</div>
										<!-- END DETAILS ROW -->

									</div>
									<!-- END tab-pane -->
									<!-- BEGIN tab-pane -->
									<div class="tab-pane fade" id="logs_{{ node.id }}">
										<!-- BEGIN DATATABLE -->
										<div class="pt-2 align-items-center">
											<table id="log2_{{ node.id }}"></table>
										</div>
										<!-- END DATATABLE -->
									</div>
									<!-- END tab-pane -->

									<!-- BEGIN SETTINGS -->
									<div class="tab-pane fade" id="settings_{{ node.id }}">
										<!-- BEGIN DATATABLE -->
										<div class="pt-2 align-items-center">
											<!-- BEGIN #notifications -->
											<div id="notifications" class="mb-5">
												<h6><i class="far fa-bell fa-fw text-theme"></i> Notifications</h6>
												<p>Enable or disable what notifications you want to receive.</p>
												<div class="card">
													<div class="list-group list-group-flush">
														<div class="list-group-item d-flex align-items-center">
															<div class="flex-1 text-break">
																<div>Comments</div>
																<div class="text-white text-opacity-50 d-flex align-items-center">
																	<i class="fa fa-circle fs-8px fa-fw text-success me-1"></i> Enabled (Push, SMS)
																</div>
															</div>
															<div>
																<a href="#modalEdit" data-bs-toggle="modal" class="btn btn-outline-default w-100px">Edit</a>
															</div>
														</div>
														<div class="list-group-item d-flex align-items-center">
															<div class="flex-1 text-break">
																<div>Tags</div>
																<div class="text-white text-opacity-50 d-flex align-items-center">
																	<i class="fa fa-circle fs-8px fa-fw me-1"></i> Disabled
																</div>
															</div>
															<div>
																<a href="#modalEdit" data-bs-toggle="modal" class="btn btn-outline-default w-100px">Edit</a>
															</div>
														</div>
														<div class="list-group-item d-flex align-items-center">
															<div class="flex-1 text-break">
																<div>Reminders</div>
																<div class="text-white text-opacity-50 d-flex align-items-center">
																	<i class="fa fa-circle fs-8px fa-fw text-success me-1"></i> Enabled (Push, Email, SMS)
																</div>
															</div>
															<div>
																<a href="#modalEdit" data-bs-toggle="modal" class="btn btn-outline-default w-100px">Edit</a>
															</div>
														</div>
														<div class="list-group-item d-flex align-items-center">
															<div class="flex-1 text-break">
																<div>New orders</div>
																<div class="text-white text-opacity-50 d-flex align-items-center">
																	<i class="fa fa-circle fs-8px fa-fw text-success me-1"></i> Enabled (Push, Email, SMS)
																</div>
															</div>
															<div>
																<a href="#modalEdit" data-bs-toggle="modal" class="btn btn-outline-default w-100px">Edit</a>
															</div>
														</div>
													</div>
													<div class="card-arrow">
														<div class="card-arrow-top-left"></div>
														<div class="card-arrow-top-right"></div>
														<div class="card-arrow-bottom-left"></div>
														<div class="card-arrow-bottom-right"></div>
													</div>
												</div>
											</div>
											<!-- END #notifications -->
										</div>
										<!-- END DATATABLE -->
									</div>
									<!-- END SETTINGS -->
								</div>
								<!-- END tab-content -->								
							</div>
							<!-- END NODE DETAILS -->
						</div>
						<!-- END SUPPLY -->
					{% endfor %}
					</div>					
				</div>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
	<!-- END -->
</div>
<!-- END #content -->
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

	var markersData = []
	var newMarker = {}
	var icon = ''
	
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////// AJAX CALL //////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 	
	var ajax_call = function() {
		$.ajax({
			type: 'GET',
			url: '../dalys/node_power/get_by_id_and_dates/?node_id=1&start_datetime=2022-10-01T00:00:00Z&end_datetime=2022-11-02T14:00:00Z',
			headers: {
				"Authorization": "Basic " + btoa("admin" + ":" + "will1977"),
				'Accept' : 'application/json'
			},
			success: function(data) {	
				console.log(data);			
				$.each(data.results, function(i, result) {
					
				});
			}
		});
	};

	var ajax_call_by_id_datetime = function(id, start, end) {
		$.ajax({
			type: 'GET',
			url: '../dalys/node_power/get_by_id_and_dates/?node_id=1&start_datetime=' + start + '&end_datetime=' + end,
			headers: {
				"Authorization": "Basic " + btoa("admin" + ":" + "will1977"),
				'Accept' : 'application/json'
			},
			success: function(data) {	
				console.log(data);			
				$.each(data.results, function(i, result) {
					
				});
				return data;
			}
		});
	};
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////// AJAX CALL //////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 





	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// CREATE TABLES ////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	function create_log_datatable(id) {
		
		// LOG		
		var dataGrid = $('#log2_' + id).dxDataGrid({
			//dataSource: data,
			keyExpr: 'ID',
			showColumnLines: false,
			showRowLines: true,
			rowAlternationEnabled: false,
			showBorders: true,
			paging: {
				pageSize: 8,
			},
			pager: {
				visible: true,
				allowedPageSizes: [5, 10, 'all'],
				showPageSizeSelector: true,
				showInfo: true,
				showNavigationButtons: true,
			},
			columns: [
				{
					title: "DATE TIME",
					dataField: 'Data_DateTime',
				}, {
					title: "L1",
					dataField: 'AppaPower_L1',
					width: 100,
				}, {
					title: "L2",
					dataField: 'AppaPower_L2',
					width: 100,
				}, {
					title: "L3",
					dataField: 'AppaPower_L3',
					width: 100,
				},
			],
		});
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// CREATE TABLES ////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// CREATE CHARTS ////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	function create_charts(id) {
		// CREATE SERIES
		var series = [
			{
				type: 'spline',
				name: 'L1',
				valueField: 'L1',
				argumentField: "Data_DateTime",
				argumentType: "datetime",
			},{
				type: 'spline',
				name: 'L2',
				valueField: 'L2',
				argumentField: "Data_DateTime",
				argumentType: "datetime",
			},{
				type: 'spline',
				name: 'L3',
				valueField: 'L3',
				argumentField: "Data_DateTime",
				argumentType: "datetime",
			}
			//,{
			//	type: 'spline',
			//	name: 'Baseline',
			//	valueField: 'Baseline',
			//	argumentField: "Data_DateTime",
			//	argumentType: "datetime",
			//}
		];
		// CREATE POLAR CHART
		var polar = $('#node_chart_polar_' + id).dxPolarChart({
			palette: 'red',
			commonSeriesSettings: {
				point: {
					visible: false,
				},
			},
			loadingIndicator: {
				enabled: true
			},
			size: {
				height: 300,
			},
			series: [
			{
				type: 'line',
				name: 'L1',
				valueField: 'L1',
				argumentField: "Data_DateTime",
				argumentType: "datetime",
			},{
				type: 'line',
				name: 'L2',
				valueField: 'L2',
				argumentField: "Data_DateTime",
				argumentType: "datetime",
			},{
				type: 'line',
				name: 'L3',
				valueField: 'L3',
				argumentField: "Data_DateTime",
				argumentType: "datetime",
			}//,{
			//	type: 'line',
			//	name: 'Baseline',
			//	valueField: 'Baseline',
			//	argumentField: "Data_DateTime",
			//	argumentType: "datetime",
			//}
		],
			argumentAxis: {
				inverted: false,
				startAngle: 0,
				tickInterval: 'hour',
				period: 'day',
			},
			tooltip: {
				enabled: true,
				shared: true,
				argumentFormat: "shortDateShortTime",
				contentTemplate: function (pointInfo, element) {
					var print = function (label, value) {
						var span = $("<span>", {
							"class": "tooltip-label",
							text: label
						});
						element.append($("<div>", {
							text: value
						}).prepend(span));
					};

					var powerData = {};
					powerData.Data = pointInfo.points[0].point.data;

					print("", powerData.Data.Data_DateTime);
					print("L1: ", powerData.Data.AppaPower_L1.toFixed(3));
					print("L2: ", powerData.Data.AppaPower_L2.toFixed(3));
					print("L3: ", powerData.Data.AppaPower_L3.toFixed(3));
					//print("Baseline: ", powerData.Data.Baseline.toFixed(3));
				},
			},
			legend: {
				verticalAlignment: 'top',
				horizontalAlignment: 'right',
				hoverMode: 'excludePoints',
			}
		});
		// CREATE BAR CHART
		var chart = $('#node_chart_' + id).dxChart({
			palette: 'red',
			commonSeriesSettings: {
				point: {
					visible: false,
				},
			},
			size: {
				height: 360,
			},
			loadingIndicator: {
				enabled: true
			},
			argumentAxis: {
				argumentType: "datetime",
				label: {
					format: "shortDateShortTime"
				},
				valueMarginsEnabled: false,
				discreteAxisDivisionMode: 'crossLabels',
				grid: {
					visible: true,
				},
			},
			series: series,
			tooltip: {
				enabled: true,
			},
			legend: {
				visible: false,
			},
			crosshair: {
				enabled: true,
				color: '#949494',
				width: 1,
				dashStyle: 'dot',
				label: {
					visible: true,
					backgroundColor: '#949494',
					font: {
					color: '#fff',
					size: 12,
					},
				},
			},
			export: {
				enabled: false,
			},
			onPointClick: function (e) {
				var point = e.target;
				if (point.isSelected()) {
					point.clearSelection();
				} else {
					point.select();					
				}
			}
		});		
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// CREATE CHARTS ////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// CREATE MAPS ////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// CREATE MAPS
	var renderMaps = function () {
		var siteMap = $('#siteMap').dxMap({
			center: [51.88328620951812, -8.511571884155275],
			zoom: 16.5,
			height: 560,
			width: '100%',
			provider: 'bing',
			controls: true,
			apiKey: {
			// Specify your API keys for each map provider:
			// bing: "YOUR_BING_MAPS_API_KEY",
			},
			type: 'hybrid',
    		markers: markersData,
			mapOnClick: function (e) {
				var point = e.target;
			},
		}).dxMap('instance');
	};
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// CREATE MAPS ////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





	








	









	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// SETUP //////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// SET UP PAGE, CREATE ALL CONTROLS
	function page_setup() {
		// CREATE
		$.each(node_data, function(i, node) {
			// CREATE CHARTS
			create_charts(node.id);
			$("#node_chart_" + node.id).show();
			$("#node_chart_polar_" + node.id).hide();
			// CREATE LOG TABLE
			create_log_datatable(node.id);			
			// CREATE NODE TOOL BAR
			create_node_tool_bars(node);
		});
		// CREATE MAP
		renderMaps();
	}
	// CREATE TOOL BARS BY ID
	function create_node_tool_bars(node) {
		// REFRESH CHART
		$('#refresh_' + node.id).click({}, function() {
			$("#node_chart_" + node.id).dxChart('instance').refresh();
			$("#node_chart_polar_" + node.id).dxPolarChart('instance').refresh();
		});
		// REFRESH CHART ON SLIDER CLICK
		$('#slider_' + node.id).click({}, function() {
			$("#node_chart_" + node.id).dxChart('instance').refresh();
			$("#node_chart_polar_" + node.id).dxPolarChart('instance').refresh();
		});
		// SET CHART SELECTION
		$('#select_chart_type_' + node.id).change({}, function() {
			//console.log(this.value);
			if (this.value === 'Bar') {
				$("#node_chart_" + node.id).show();
				$("#node_chart_polar_" + node.id).hide();
			} else if (this.value === 'Polar') {
				$("#node_chart_" + node.id).hide();
				$("#node_chart_polar_" + node.id).show();
			}
			$("#node_chart_" + node.id).dxChart('instance').refresh();
			$("#node_chart_polar_" + node.id).dxPolarChart('instance').refresh();
		});
		// SETUP DATEPICKER
		$('#daterange_' + node.id + ' span').html(moment().subtract(24, 'hours').format('DD-MM-YYYY HH:00') + ' - ' + moment().format('DD-MM-YYYY HH:00'));
		$('#daterange_' + node.id).daterangepicker({
			format: 'MM/DD/YYYY',
			startDate: moment().subtract(24, 'hours'),
			endDate: moment(),
			minDate: moment().subtract(6, 'months'),
			maxDate: moment(),
			dateLimit: { days: 60 },
			showDropdowns: true,
			showWeekNumbers: true,
			timePicker: true,
			timePickerIncrement: 1,
			timePicker12Hour: true,
			ranges: {
				'Today': [moment().startOf('day'), moment()],
				'Last 24 Hours': [moment().subtract(24, 'hours'), moment()],
				'Yesterday': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
				'Last 7 Days': [moment().subtract(6, 'days').startOf('day'), moment()],
				'This Month So Far': [moment().startOf('month'), moment().endOf('month')],
				'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
				'This Year So Far': [moment().startOf('year'), moment().endOf('year')],
				'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
			},
			opens: 'right',
			drops: 'down',
			buttonClasses: ['btn', 'btn-sm'],
			applyClass: 'btn-primary',
			cancelClass: 'btn-default',
			separator: ' to ',
			locale: {
				applyLabel: 'Submit',
				cancelLabel: 'Cancel',
				fromLabel: 'From',
				toLabel: 'To',
				customRangeLabel: 'Custom',
				daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
				monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
				firstDay: 1
			}
		}, function(start, end, label) {
			$('#daterange_' + node.id + ' span').html(start.format('DD-MM-YYYY HH:00') + ' - ' + end.format('DD-MM-YYYY HH:00'));
			if (node.Type == 'Power') {				
				change_power_data(node.id, node, new Date(start.format()), new Date(end.format()), '10Min');				
			} else if (node.Type == 'Temperature') {
				change_temperature_data(node.id, node, new Date(start.format()), new Date(end.format()), '10Min');
			}			
		});
	}
	// SET UP PAGE, CREATE ALL CONTROLS
	function data_setup() {
		$.each(node_data, function(i, node) {
			var readings = [];
			var start = new Date(moment().subtract(24, 'hours').format());
			var end =  new Date(moment().format());				
			set_status_markers(node);
			if (node.Type == 'Power') {				
				change_power_data(node.id, node, start, end, '10Min');				
			} else if (node.Type == 'Temperature') {
				change_temperature_data(node.id, node, start, end, '10Min');
			}
		});
	}

	// CHANGE TEMPERATURE DATA
	function change_temperature_data(id, data, start, end, resolution) {
		// AJAX
		$.ajax({
			type: 'GET',
			url: '../node_temperature/get_by_id_and_dates/?node_id=' + id + '&start_datetime=' + start.toISOString() + '&end_datetime=' + end.toISOString() + '&resolution=' + resolution,
			headers: {
				"Authorization": "Basic " + btoa("admin" + ":" + "will1977"),
				'Accept' : 'application/json'
			},
			success: function(data) {
				var data_history = data;
				var data_current = data[0];
				if (data != '') {
					
					// SET LOG VALUES
					//$("#log2_" + id).dxDataGrid("option", "dataSource", data_history.map(function(element) {return {'ID': element.id, 'Data_DateTime': element.Data_DateTime, 'L1': Math.abs(element.AppaPower_L1), 'L2': Math.abs(element.AppaPower_L2), 'L3': Math.abs(element.AppaPower_L3)};}));
					//$("#log2_" + id).dxDataGrid('instance').refresh();
					
					// SET TEXT VALUES
					$("#value_main_" + id).text(Number(data_current.Temperature).toFixed(3) + ' °C');
				}	
			}
		});
	}	

	// CHANGE POWER DATA
	function change_power_data(id, data, start, end, resolution) {
		// AJAX
		$.ajax({
			type: 'GET',
			url: '../node_power/get_by_id_and_dates/?node_id=' + id + '&start_datetime=' + start.toISOString() + '&end_datetime=' + end.toISOString() + '&resolution=' + resolution,
			headers: {
				"Authorization": "Basic " + btoa("admin" + ":" + "will1977"),
				'Accept' : 'application/json'
			},
			success: function(data) {	
				var data_history = data;
				var data_current = data[0];
				if (data != '') {
					// SET CHART DATA
					$("#node_chart_" + id).dxChart("option", "dataSource", data_history.map(function(element) {return {'Data_DateTime': element.Data_DateTime, 'L1': Math.abs(element.Irms_L1*element.Vrms_L1/1000), 'L2': Math.abs(element.Irms_L2*element.Vrms_L1/1000), 'L3': Math.abs(element.Irms_L3*element.Vrms_L1/1000)};}));
					$("#node_chart_" + id).dxChart('instance').refresh();
					$("#node_chart_polar_" + id).dxPolarChart("option", "dataSource", data_history.map(function(element) {return {'Data_DateTime': element.Data_DateTime, 'L1': Math.abs(element.AppaPower_L1), 'L2': Math.abs(element.AppaPower_L2), 'L3': Math.abs(element.AppaPower_L3)};}));
					$("#node_chart_polar_" + id).dxPolarChart('instance').refresh();
					// SET LOG VALUES
					$("#log2_" + id).dxDataGrid("option", "dataSource", data_history.map(function(element) {return {'ID': element.id, 'Data_DateTime': element.Data_DateTime, 'L1': Math.abs(element.AppaPower_L1), 'L2': Math.abs(element.AppaPower_L2), 'L3': Math.abs(element.AppaPower_L3)};}));
					$("#log2_" + id).dxDataGrid('instance').refresh();
					// GET kW/h
					var rate_day = 0.36;
					var rate_night = 0.25;
					var delta_T = 600/3600;							// Polling interval is 10 min
					var day_start = moment('07:00:00', 'HH:mm:ss');
					var day_end = moment('23:00:00', 'HH:mm:ss');
					
					var P1_sum = 0;									
					var prev_P1 = 0;								
					var Wh1_day = 0;
					var Wh1_night = 0;

					var P2_sum = 0;									
					var prev_P2 = 0;								
					var Wh2_day = 0;
					var Wh2_night = 0;

					var P3_sum = 0;									
					var prev_P3 = 0;								
					var Wh3_day = 0;
					var Wh3_night = 0;

					//console.log(data);

					//var readings = data.history.filter((item) => item.Data_DateTime.getTime() >= start && item.Data_DateTime.getTime() <= end);
					var readings = data_history;
					
					$.each(data_history, function(i, reading) {

						// correction
						if (data_current.id == 4) {
							reading.Irms_L1 = reading.Irms_L1/1000
							reading.Irms_L2 = reading.Irms_L2/1000
							reading.Irms_L3 = reading.Irms_L3/1000
						};

						var time = moment(new Date(reading.Data_DateTime).toLocaleTimeString([], {hourCycle: 'h23', hour: '2-digit', minute: '2-digit', second: '2-digit'}),'HH:mm:ss');

						var P_CT1 = Math.abs(reading.Irms_L1) * Math.abs(reading.Vrms_L1);
						var P_CT2 = Math.abs(reading.Irms_L2) * Math.abs(reading.Vrms_L1);
						var P_CT3 = Math.abs(reading.Irms_L3) * Math.abs(reading.Vrms_L1);

						P1_sum = prev_P1 + P_CT1;								
						prev_P1 = P_CT1;		
									
						P2_sum = prev_P2 + P_CT2;								
						prev_P2 = P_CT2;
									
						P3_sum = prev_P3 + P_CT3;								
						prev_P3 = P_CT3;

						if (time.isBetween(day_start, day_end)) {
							Wh1_day += delta_T / 2 * P1_sum;
							Wh2_day += delta_T / 2 * P2_sum;
							Wh3_day += delta_T / 2 * P3_sum;
						} else {
							Wh1_night += delta_T / 2 * P1_sum;
							Wh2_night += delta_T / 2 * P2_sum;
							Wh3_night += delta_T / 2 * P3_sum;
						}
					});

					// correction
					if (data_current.id == 4) {
						data_current.Irms_L1 = data_current.Irms_L1/1000
						data_current.Irms_L2 = data_current.Irms_L2/1000
						data_current.Irms_L3 = data_current.Irms_L3/1000
					};

					// total
					var kwh_total_day = ((Wh1_day + Wh2_day + Wh3_day) / 1000)
					var kwh_total_night = ((Wh1_night + Wh2_night + Wh3_night) / 1000)
					var kwh_total = kwh_total_day + kwh_total_night;

					// cost
					var total_cost = (kwh_total_day*rate_day) + (kwh_total_night*rate_night)
					$("#cost_value_" + id).text(total_cost.toFixed(2));
					$("#cost_bar_" + id).attr('style', 'width: ' + getPercentage(total_cost, 250).toFixed(0) + '%');
					$("#cost_day_" + id).text('Day Cost: €' + (kwh_total_day*rate_day).toFixed(2));
					$("#cost_night_" + id).text('Night Cost: €' + (kwh_total_night*rate_night).toFixed(2));

					// kW/h
					$("#total_kwh_value_" + id).text(kwh_total.toFixed(2));
					$("#total_kwh_bar_" + id).attr('style', 'width: ' + getPercentage(kwh_total, 600).toFixed(0) + '%');
					$("#total_kwh_info_" + id).text('@ ' + getPercentage(kwh_total, 600).toFixed(0) + '% of 600 kW.');
					$("#total_kwh_day_" + id).text('Day: ' + (kwh_total_day).toFixed(2) + 'kVA');
					$("#total_kwh_night_" + id).text('Night: ' + (kwh_total_night).toFixed(2) + 'kVA');

					// voltage
					var vrms_total = (Math.abs(Number(data_current.Vrms_L1)) + Math.abs(Number(data_current.Vrms_L2)) + Math.abs(Number(data_current.Vrms_L3)))/3
					$("#vrms_total_" + id).text(Number(vrms_total).toFixed(2));
					$("#vrms_l1_" + id).text(Number(data_current.Vrms_L1).toFixed(2));
					$("#vrms_l2_" + id).text(Number(data_current.Vrms_L2).toFixed(2));
					$("#vrms_l3_" + id).text(Number(data_current.Vrms_L3).toFixed(2));

					// current
					var irms_total = (Math.abs(Number(data_current.Irms_L1).toFixed(2)) + Math.abs(Number(data_current.Irms_L2).toFixed(2)) + Math.abs(Number(data_current.Irms_L3).toFixed(2)))
					$("#irms_total_" + id).text(Number(irms_total).toFixed(2));
					$("#irms_l1_" + id).text(Number(data_current.Irms_L1).toFixed(2));
					$("#irms_l2_" + id).text(Number(data_current.Irms_L2).toFixed(2));
					$("#irms_l3_" + id).text(Number(data_current.Irms_L3).toFixed(2));

					// power
					var power_total = (Math.abs(Number(data_current.Irms_L1)*Number(data_current.Vrms_L1)) + Math.abs(Number(data_current.Irms_L2)*Number(data_current.Vrms_L2)) + Math.abs(Number(data_current.Irms_L3)*Number(data_current.Vrms_L3))) / 1000
					$("#power_total_" + id).text(Number(power_total).toFixed(2));
					$("#power_l1_" + id).text((Number(data_current.Irms_L1)*Number(data_current.Vrms_L1)/1000).toFixed(2));
					$("#power_l2_" + id).text((Number(data_current.Irms_L2)*Number(data_current.Vrms_L1)/1000).toFixed(2));
					$("#power_l3_" + id).text((Number(data_current.Irms_L3)*Number(data_current.Vrms_L1)/1000).toFixed(2));
					
					$("#value_main_" + id).text(Number(power_total).toFixed(3) + ' kVA');
					$("#real_power_value_" + id).text(Number(power_total).toFixed(2));
				}	
			}
		});
	}	

	// percentage function
	function getPercentage(act, max) {
		return (act / max) * 100;
	}
	// SET STATUS MARKERS
	function set_status_markers(node) {
		//console.log(node.Name + ': ' + parseInt(Math.abs(new Date()-new Date(node.Last_Updated)) / (1000 * 60)))
		if (parseInt(Math.abs(new Date()-new Date(node.Last_Updated)) / (1000 * 60)) > 2) {
			$('#Node_Status_' + node.id).addClass('bg-danger');
			$('#Node_Status_' + node.id).attr('title', 'Last time data updated was too long.');
			$("#hidden_Node_Status_" + node.id).val('1');
		} else {
			$('#Node_Status_' + node.id).removeClass('bg-danger');
			$("#hidden_Node_Status_" + node.id).val('0');
		}
	}
	// SET MAP MARKERS
	function set_map_markers(node) {
		if (node.Node_Status == 1) {icon = '/static/assets/img/map/error_marker.png'} else {icon = '/static/assets/img/map/ok_marker.png'}					
		newMarker = {
			location: {
				lat: node.Lat, 
				lng: node.Lng
			},
			tooltip: {
				text: node.Name,
			},
			iconSrc: icon,
		}
		markersData.push(newMarker)			
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// SETUP //////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// WESOCKETS //////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// TEMPERATURE
	var Temperature_WebSocket = function () {
		var autosondeSocket;
		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
		var ws_path = ws_scheme + '://' + window.location.host + ':8001/temperature/';
		var ws_path = 'wss://www.enviroscan.io:8001/temperature/';
		console.log(ws_path)
		autosondeSocket = new WebSocket(ws_path);

		autosondeSocket.onmessage = function (e) {
			json_data = JSON.parse(e.data).message;
			console.log(json_data);
			$("#value_main_" + json_data.Meter_Id).text(Number(json_data.Temperature).toFixed(3) + ' °C');
			// process node
			//process_node(json_data.Node_ID, json_data)
			//set_text(json_data.Node_ID, json_data);
			
		};

		autosondeSocket.onclose = function (e) {
			console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
		};

		autosondeSocket.onerror = function (err) {
			console.error(err);
		};
	};
	// POWER
	var Power_WebSocket = function () {
		var autosondeSocket;
		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
		var ws_path = ws_scheme + '://' + window.location.host + ':8001/power/';
		var ws_path = 'wss://www.enviroscan.io:8001/power/';
		console.log(ws_path)
		autosondeSocket = new WebSocket(ws_path);

		autosondeSocket.onmessage = function (e) {
			json_data = JSON.parse(e.data).message;
			console.log(json_data);
			// process node
			//process_node(json_data.Node_ID, json_data)
			//set_text(json_data.Node_ID, json_data);
			
		};

		autosondeSocket.onclose = function (e) {
			console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
		};

		autosondeSocket.onerror = function (err) {
			console.error(err);
		};
	};
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// WESOCKET /////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// GET MAIN DATA ////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// GET DATA
	function reviver_1(key, value) {
		if (key === 'Data_DateTime' || key === 'Start_Date') {
			return new Date(value);
		}
		if (key === 'history' || key === 'logs') {
			JSON.parse(JSON.stringify(value), reviver_2);
		}
		return value;
	}
	// GET DATA
	function reviver_2(key, value) {
		if (key === 'Data_DateTime') {
			return new Date(value);
		}
		return value;
	}
	// GET DATA
	var node_data = JSON.parse('{{node_data|escapejs}}', reviver_1).Data;
	console.log(node_data);
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// GET MAIN DATA ////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// CONTROLLER ////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	/* Controller
	------------------------------------------------ */
	$(document).ready(function () {	
		
		page_setup();

		//ajax_call();
		//renderReport();
		//renderDataAnalysis();
		data_setup();
		Power_WebSocket();
		Temperature_WebSocket();
		
		//var interval_status = 60000; // 60 secs
		//setInterval(ajax_call, interval_status);

		$(document).on('theme-reload', function () {
			//ajax_call();
		});

	});
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////// CONTROLLER ////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

</script>
{% endblock javascripts %}