{% extends "app_dalys/layouts/base.html" %}


{% block content %}
<!-- BEGIN #content -->
<div id="content" class="app-content">
	
	<!-- start tabs -->
			<ul class="nav nav-pills mb-3" id="pills-tab">
				<li class="nav-item">
					<a class="nav-link active" id="pills-refrigeration-tab" data-bs-toggle="pill" href="#pills-refrigeration">Refrigeration</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-power-tab" data-bs-toggle="pill" href="#pills-power">Power</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-reporting-tab" data-bs-toggle="pill" href="#pills-reporting">Reporting</a>
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent">

				<div class="tab-pane fade show active" id="pills-refrigeration">
					{% for node in node_list %}
						<!-- INSERT WIDGETS -->
						{% if node.Type|lower == "temperature" %}
							{% include 'app_dalys/includes/widgets/widget_temperature.html' %}
						{% endif %}					
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="pills-power">
					{% for node in node_list %}
						<!-- INSERT WIDGETS -->
						{% if node.Type|lower == "power" %}
							{% include 'app_dalys/includes/widgets/widget_power.html' %}
						{% endif %}					
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="pills-reporting">
					Coming soonish.......
				</div>

			</div>
	<!-- end tabs -->
<!-- END #content -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
	// GET DATA
	function reviver_1(key, value) {
		if (key === 'Data_DateTime' || key === 'Start_Date') {
			return new Date(value);
		}
		return value;
	}
	var node_data = JSON.parse('{{node_data|escapejs}}', reviver_1).Data;
	// SETUP CONTROLS
	function page_setup() {		
		$.each(node_data, function(i, node) {	
			if (node.Type == 'Power') {				
				create_power_controls(node.id, node);			
			} else if (node.Type == 'Temperature') {
				create_temperature_controls(node.id, node);
			}
		});
	}	
	// POPULATE DATA
	function data_setup() {
		$.each(node_data, function(i, node) {
			var readings = [];
			var start = new Date(moment().subtract(24, 'hours').format());
			var end =  new Date(moment().format());
			if (node.Type == 'Power') {				
				change_power_data(node.id, node, start, end, '10Min');				
			} else if (node.Type == 'Temperature') {
				change_temperature_data(node.id, node, start, end, '10Min');
			}
		});
	}
	//* CONTROLLER
	$(document).ready(function () {			
		page_setup();
		data_setup();
		Power_WebSocket();
		Temperature_WebSocket();		
		//var interval_status = 60000; // 60 secs
		//setInterval(ajax_call, interval_status);
		$(document).on('theme-reload', function () {
			page_setup();
			data_setup();
			Power_WebSocket();
			Temperature_WebSocket();
		});

	});
</script>
{% endblock javascripts %}