{% extends "layouts/base.html" %}

{% block title %} Charts Flot Chart {% endblock title %}

<!-- Specific Page CSS goes HERE  -->  
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Sample Chart</h4>
          <div id="chartLegend" class="flot-chart-legend"></div>
          <div id="curved-line-chart" class="float-chart mt-5"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Pie chart</h4>
          <div class="float-chart-container">
            <div id="pie-chart" class="float-chart"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Line Chart</h4>
          <div class="float-chart-container">
            <div id="line-chart" class="float-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bar Chart</h4>
          <div class="float-chart-container">
            <div id="column-chart" class="float-chart"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Stacked Bar Chart</h4>
          <div class="float-chart-container">
            <div id="stacked-bar-chart" class="float-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Real-time Chart</h4>
          <div class="float-chart-container">
            <div id="realtime-chart" class="float-chart"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Area Chart</h4>
          <div class="float-chart-container">
            <div id="area-chart" class="float-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/vendors/flot/jquery.flot.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.stack.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.pie.js"></script>

    <script src="/static/assets/js/shared/float-chart.js"></script>

{% endblock javascripts %}
