{% extends "layouts/base.html" %}

{% block title %} Charts Sparkline {% endblock title %}

<!-- Specific Page CSS goes HERE  -->  
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Line chart</h4>
          <div id="sparkline-line-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bar chart</h4>
          <div id="sparkline-bar-chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Pie chart</h4>
          <div id="sparkline-pie-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bullet chart</h4>
          <div id="sparkline-bullet-chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Composite chart</h4>
          <div id="sparkline-composite-chart"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/vendors/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/assets/js/shared/sparkline.js"></script>

{% endblock javascripts %}
