{% extends "layouts/base.html" %}

{% block title %} Maps Mapeal {% endblock title %}

<!-- Specific Page CSS goes HERE  -->  
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Plotted Cities</h4>
        <div class="container">
          <div class="plotted-cities">
            <div class="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Example 1</h4>
        <div class="container">
          <div class="mapcontainer mapeal-example-2">
            <div class="map">
              <span>Alternative content for the map</span>
            </div>
            <div class="myLegend">
              <span>Alternative content for the legend</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Example 2</h4>
        <div class="container">
          <div class="mapcontainer mapeal-example-3 bg-blue">
            <div class="map">
              <span>Alternative content for the map</span>
            </div>
            <div style="margin:auto;">
              <div class="population" style="float:left;margin-right:40px;">
                <span>Alternative content for the legend</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/vendors/raphael/raphael.min.js"></script>
<script src="/static/assets/vendors/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/static/assets/vendors/jquery-mapael/france_departments.min.js"></script>
<script src="/static/assets/vendors/jquery-mapael/usa_states.min.js"></script>
<script src="/static/assets/vendors/jquery-mapael/world_countries.min.js"></script>

<script src="/static/assets/js/shared/mapeal.js"></script>
<script src="/static/assets/js/shared/mapeal_example_2.js"></script>
<script src="/static/assets/js/shared/mapeal_example_3.js"></script>

{% endblock javascripts %}
