{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock title %}

<!-- Specific Page CSS goes HERE  -->  
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page Title Header Starts-->
    <div class="row page-title-header">
      <div class="col-12">
        <div class="page-header">
          <h4 class="page-title">Blank</h4>
          <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
            <ul class="quick-links">
              <li><a href="/">Home</a></li>
              <li><a href="#">Blank</a></li>
            </ul>
            <ul class="quick-links ml-auto">
              <li><a href="#">Settings</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Watchlist</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <!-- Page Title Header Ends-->
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                  <div class="wrapper">
                    <h3 class="mb-0 font-weight-semibold">Card Title</h3>
                    <p class="mb-0 text-muted">
                        Add Content Here
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
