<!-- BEGIN TAB-PANE -->
<div class="tab-pane fade" id="data_analysis">
    <!-- BEGIN TOOLBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-opacity-25 rounded">
        <div class="container-fluid">

            <!-- BEGIN REFRESH BUTTON -->
            <div class="opacity-10 px-1">
                <button id="refresh_da" type="button" class="btn btn-outline-theme btn-sm"><i class="fa fa-redo"></i></button>
            </div>
            <!-- END REFRESH BUTTON -->

            <!-- BEGIN DATE PICKER -->
            <div class="flex-fill px-1">
                <div id="daterange_da" class="btn btn-outline-theme d-flex align-items-center text-start btn-sm">
                    <span class="text-truncate">&nbsp;</span>
                    <i class="fa fa-caret-down ms-auto"></i>
                </div>
            </div>
            <!-- END DATE PICKER -->

            <!-- BEGIN SELECT CHART RESOLUTION -->
            <div class="px-1">
                <select id="select_chart_resolution_analysis" class="form-select btn-outline-theme form-select-sm" style="width: 100px;">
                    <option value="H">HOUR</option>
                    <option value="D">DAY</option>
                    <option value="W">WEEK</option>
                    <option value="M">MONTH</option>
                </select>
            </div>
            <!-- END SELECT CHART RESOLUTION -->

            <!-- BEGIN PRINT PDF -->
            <div class="opacity-10 px-1">
                <button data-target="data_analysis" class="btn btn-outline-theme btn-sm pdf">
                    PDF
                </button>
            </div>
            <!-- END PRINT PDF -->

            <!-- BEGIN PRINT CSV -->
            <div class="opacity-10 px-1">
                <button data-target="data_analysis_chart" class="btn btn-outline-theme btn-sm csv">
                    CSV
                </button>
            </div>
            <!-- END PRINT CSV -->
            
        </div>
    </nav>
    <!-- END TOOLBAR -->
    <!-- BEGIN CHART -->
    <div class="pt-1 flex-1">
        <div class="pt-1 mb-1" id="data_analysis_chart" style="width: 100%;"></div>
    </div>
    <!-- END CHART -->
    <!-- BEGIN TABLE -->
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Meter</th>
                <th scope="col">Location</th>
                <th scope="col">Show</th>
            </tr>
        </thead>
        <tbody>
            {% for meter in meter_list %}
                {% if meter.Category|lower == 'supply' %}
            <tr>
                <td>
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-{{ meter.Kwargs }} text-white rounded-2 ms-n1">
                        {{ meter.Name|make_list|first }}
                    </div>
                </td>
                <td>{{ meter.Name }}</td>
                <td>{{ meter.Region }}</td>
                <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" value='{"name": "{{ meter.Name }}", "color": "{{ meter.Kwargs }}"}' id="show_da_chart_{{ meter.id }}">
                    </div>
                </td>
            </tr>
                {% endif %}
            {% endfor %}
            {% for meter in meter_list %}
                {% if meter.Category|lower == 'consumer' %}
            <tr>
                <td>
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-{{ meter.Kwargs }} text-white rounded-2 ms-n1">
                        {{ meter.Name|make_list|first }}
                    </div>
                </td>
                <td>{{ meter.Name }}</td>
                <td>{{ meter.Region }}</td>
                <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" value='{"name": "{{ meter.Name }}", "color": "{{ meter.Kwargs }}"}' id="show_da_chart_{{ meter.id }}">
                    </div>
                </td>
            </tr>
                {% endif %}
            {% endfor %}
            {% for meter in meter_list %}
                {% if meter.Category|lower == 'waste' %}
            <tr>
                <td>
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-{{ meter.Kwargs }} text-white rounded-2 ms-n1">
                        {{ meter.Name|make_list|first }}
                    </div>
                </td>
                <td>{{ meter.Name }}</td>
                <td>{{ meter.Region }}</td>
                <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" value='{"name": "{{ meter.Name }}", "color": "{{ meter.Kwargs }}"}' id="show_da_chart_{{ meter.id }}">
                    </div>
                </td>
            </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <!-- END TABLE -->
</div>
<!-- END TAB-PANE -->