<!-- BEGIN SUPPLY -->
<div class="text-white small mb-2"><b>SUPPLY</b></div>
<div class="list-group mb-3">

{% for meter in meter_list %}
    {% if meter.Category|lower == 'supply' %}    

    <!-- BEGIN METER -->
    <div class="list-group-item d-flex align-items-center">
        
        <div class="fw-bold text-theme"><i class="fa fa-plus-circle"></i></div>

        <div class="flex-fill px-3">									
            <a href="#" class="text-white" data-bs-toggle="collapse" data-bs-target="#collapse_{{ meter.id }}" id="slider_{{ meter.id }}">
                <div class="fw-bold">{{ meter.Name }}</div>
            </a>
        </div>

        <div class="opacity-10 px-3">
            <div class="fw-bold"><span id="value_main_{{ meter.id }}">0</span> m³</div>
        </div>

    </div>
    <!-- END METER -->

    <!-- BEGIN METER DETAILS -->
    <div class="collapse list-group-item" id="collapse_{{ meter.id }}">

        <!-- BEGIN nav-tabs -->
        <ul class="nav nav-tabs nav-tabs">
            <li class="nav-item me-3"><a href="#home_{{ meter.id }}" class="nav-link active" data-bs-toggle="tab">Data</a></li>
            <li class="nav-item me-3"><a href="#info_{{ meter.id }}" class="nav-link" data-bs-toggle="tab">Info</a></li>
        </ul>
        <!-- END nav-tabs -->

        <!-- BEGIN tab-content -->
        <div class="tab-content pt-1">
            <!-- BEGIN tab-pane -->
            <div class="tab-pane fade show active" id="home_{{ meter.id }}">
                <!-- BEGIN TOOLBAR -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-opacity-25 rounded">
                    <div class="container-fluid">
                        
                        <!-- BEGIN REFRESH BUTTON -->
                        <div class="opacity-10 px-1">
                            <button id="refresh_{{ meter.id }}" type="button" class="btn btn-outline-theme btn-sm"><i class="fa fa-redo"></i></button>
                        </div>
                        <!-- END REFRESH BUTTON -->

                        <!-- BEGIN DATE PICKER -->
                        <div class="flex-fill px-1">
                            <div id="daterange_{{ meter.id }}" class="btn btn-outline-theme d-flex align-items-center text-start btn-sm">
                                <span class="text-truncate">&nbsp;</span>
                                <i class="fa fa-caret-down ms-auto"></i>
                            </div>
                        </div>
                        <!-- END DATE PICKER -->

                        <!-- BEGIN SELECT CHART RESOLUTION -->
                        <div class="px-1">
                            <select id="select_chart_resolution_{{ meter.id }}" class="form-select btn-outline-theme form-select-sm" style="width: 100px;">
                                <option value="H">HOUR</option>
                                <option value="D">DAY</option>
                                <option value="W">WEEK</option>
                                <option value="M">MONTH</option>
                            </select>
                        </div>
                        <!-- END SELECT CHART RESOLUTION -->

                        <!-- BEGIN SELECT CHART TYPE -->
                        <div class="px-1">
                            <select id="select_chart_type_{{ meter.id }}" class="form-select btn-outline-theme form-select-sm" style="width: 100px;">
                                <option value="Bar"><i class="fa fa-bar-chart"></i>BAR</option>
                                <option value="Line"><i class="fa fa-line-chart"></i>LINE</option>
                                <option value="Polar"><i class="fa fa-pie-chart"></i>POLAR</option>
                            </select>
                        </div>												
                        <!-- END SELECT CHART TYPE -->
                        
                        <!-- BEGIN PRINT PDF -->
                        <div class="opacity-10 px-1">
                            <button data-target="home_{{ meter.id }}" class="btn btn-outline-theme btn-sm pdf">
                                PDF
                            </button>
                        </div>
                        <!-- END PRINT PDF -->

                    </div>
                </nav>
                <!-- END TOOLBAR -->
                <!-- BEGIN row -->
                <div class="row">
                    <div class="col-9">												
                        <!-- BEGIN CHART -->
                        <div class="pt-1 flex-1">
                            <div id="meter_chart_bar_{{ meter.id }}" class="pt-1 flex-1"></div>
                            <div id="meter_chart_polar_{{ meter.id }}" class="pt-1 flex-1"></div>
                            <div id="meter_chart_line_{{ meter.id }}" class="pt-1 flex-1"></div>
                        </div>
                        <!-- END CHART -->
                    </div>
                    <div class="col-3">
                        <hr>
                        <!-- BEGIN DAILY AVE -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                TOTAL (m³)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="total_valuel_{{ meter.id }}">0</span></h4>
                            </div>
                        </div>
                        <!-- END DAILY AVE -->
                        <hr>
                        <!-- BEGIN HOURLY AVE -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                HOURLY AVE (m³/h)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="hourly_ave_value_{{ meter.id }}">0</span> </h4>
                            </div>
                        </div>
                        <!-- END HOURLY AVE -->
                        <hr>
                        <!-- BEGIN MAX FLOW -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                MAX FLOW (m³/h)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="max_flow_value_{{ meter.id }}">0</span> </h4>
                            </div>
                        </div>
                        <!-- END MAX FLOW -->
                        <hr>
                        <!-- BEGIN MIN FLOW -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                MIN FLOW (m³/h)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="min_flow_value_{{ meter.id }}">0</span> </h4>
                            </div>
                        </div>
                        <!-- END MIN FLOW -->
                        <hr>
                    </div>
                </div>
                <!-- END row -->
            </div>
            <!-- END tab-pane -->
            <!-- BEGIN tab-pane -->
            <div class="tab-pane fade" id="info_{{ meter.id }}">

                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        START OF LOGGING
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Start_Date }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        START INDEX
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Start_Index }} m³
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        TOTAL CONSUMPTION
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Start_Index }} m³
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        PULSE UNIT MEASUREMENT
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Pulse_Unit_Measurement }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        PULSE UNIT VALUE
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Pulse_Unit_Value }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        LOCATION LAT
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Lat }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        LOCATION LNG
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Lng }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        METER TYPE
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Type }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        REGION
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Region }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        CATEGORY
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Category }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->

            </div>
            <!-- END tab-pane -->

        </div>
        <!-- END tab-content -->
        
    </div>
    <!-- END METER DETAILS -->
    {% endif %}	
{% endfor %}
</div>
<!-- END SUPPLY -->



<!-- BEGIN consumer -->
<div class="text-white small mb-2"><b>CONSUMERS</b></div>
<div class="list-group mb-3">							
{% for meter in meter_list %}
    {% if meter.Category|lower == 'consumer' %}

    <!-- BEGIN METER -->
    <div class="list-group-item d-flex align-items-center">
        
        <div class="fw-bold text-theme"><i class="fa fa-plus-circle"></i></div>

        <div class="flex-fill px-3">									
            <a href="#" class="text-white" data-bs-toggle="collapse" data-bs-target="#collapse_{{ meter.id }}" id="slider_{{ meter.id }}">
                <div class="fw-bold">{{ meter.Name }}</div>
            </a>
        </div>

        <div class="opacity-10 px-3">
            <div class="fw-bold"><span id="value_main_{{ meter.id }}">0</span> m³</div>
        </div>
        
    </div>
    <!-- END METER -->

    <!-- BEGIN METER DETAILS -->
    <div class="collapse list-group-item" id="collapse_{{ meter.id }}">

        <!-- BEGIN nav-tabs -->
        <ul class="nav nav-tabs nav-tabs">
            <li class="nav-item me-3"><a href="#home_{{ meter.id }}" class="nav-link active" data-bs-toggle="tab">Data</a></li>
            <li class="nav-item me-3"><a href="#info_{{ meter.id }}" class="nav-link" data-bs-toggle="tab">Info</a></li>
        </ul>
        <!-- END nav-tabs -->

        <!-- BEGIN tab-content -->
        <div class="tab-content pt-1">
            <!-- BEGIN tab-pane -->
            <div class="tab-pane fade show active" id="home_{{ meter.id }}">
                <!-- BEGIN TOOLBAR -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-opacity-25 rounded">
                    <div class="container-fluid">

                        <!-- BEGIN REFRESH BUTTON -->
                        <div class="opacity-10 px-1">
                            <button id="refresh_{{ meter.id }}" type="button" class="btn btn-outline-theme btn-sm"><i class="fa fa-redo"></i></button>
                        </div>
                        <!-- END REFRESH BUTTON -->

                        <!-- BEGIN DATE PICKER -->
                        <div class="flex-fill px-1">
                            <div id="daterange_{{ meter.id }}" class="btn btn-outline-theme d-flex align-items-center text-start btn-sm">
                                <span class="text-truncate">&nbsp;</span>
                                <i class="fa fa-caret-down ms-auto"></i>
                            </div>
                        </div>
                        <!-- END DATE PICKER -->

                        <!-- BEGIN SELECT CHART RESOLUTION -->
                        <div class="px-1">
                            <select id="select_chart_resolution_{{ meter.id }}" class="form-select btn-outline-theme form-select-sm" style="width: 100px;">
                                <option  value="H">HOUR</option>
                                <option value="D">DAY</option>
                                <option value="W">WEEK</option>
                                <option value="M">MONTH</option>
                            </select>
                        </div>
                        <!-- END SELECT CHART RESOLUTION -->

                        <!-- BEGIN SELECT CHART TYPE -->
                        <div class="px-1">
                            <select id="select_chart_type_{{ meter.id }}" class="form-select btn-outline-theme form-select-sm" style="width: 100px;">
                                <option value="Bar"><i class="fa fa-bar-chart"></i>BAR</option>
                                <option value="Line"><i class="fa fa-line-chart"></i>LINE</option>
                                <option value="Polar"><i class="fa fa-pie-chart"></i>POLAR</option>
                            </select>
                        </div>												
                        <!-- END SELECT CHART TYPE -->			
                        
                        <!-- BEGIN PRINT PDF -->
                        <div class="opacity-10 px-1">
                            <button data-target="home_{{ meter.id }}" class="btn btn-outline-theme btn-sm pdf">
                                PDF
                            </button>
                        </div>
                        <!-- END PRINT PDF -->

                    </div>
                </nav>
                <!-- END TOOLBAR -->
                <!-- BEGIN row -->
                <div class="row">
                    <div class="col-9">												
                        <!-- BEGIN CHART -->
                        <div class="pt-1 flex-1">
                            <div id="meter_chart_bar_{{ meter.id }}" class="pt-1 flex-1"></div>
                            <div id="meter_chart_polar_{{ meter.id }}" class="pt-1 flex-1"></div>
                            <div id="meter_chart_line_{{ meter.id }}" class="pt-1 flex-1"></div>
                        </div>
                        <!-- END CHART -->
                    </div>
                    <div class="col-3">
                        <hr>
                        <!-- BEGIN DAILY AVE -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                TOTAL (m³)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="total_valuel_{{ meter.id }}">0</span></h4>
                            </div>
                        </div>
                        <!-- END DAILY AVE -->
                        <hr>
                        <!-- BEGIN HOURLY AVE -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                HOURLY AVE (m³/h)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="hourly_ave_value_{{ meter.id }}">0</span> </h4>
                            </div>
                        </div>
                        <!-- END HOURLY AVE -->
                        <hr>
                        <!-- BEGIN MAX FLOW -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                MAX FLOW (m³/h)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="max_flow_value_{{ meter.id }}">0</span> </h4>
                            </div>
                        </div>
                        <!-- END MAX FLOW -->
                        <hr>
                        <!-- BEGIN MIN FLOW -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                MIN FLOW (m³/h)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="min_flow_value_{{ meter.id }}">0</span> </h4>
                            </div>
                        </div>
                        <!-- END MIN FLOW -->
                        <hr>
                    </div>
                </div>
                <!-- END row -->
            </div>
            <!-- END tab-pane -->
            <!-- BEGIN tab-pane -->
            <div class="tab-pane fade" id="info_{{ meter.id }}">

                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        START OF LOGGING
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Start_Date }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        START INDEX
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Start_Index }} m³
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        TOTAL CONSUMPTION
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Start_Index }} m³
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        PULSE UNIT MEASUREMENT
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Pulse_Unit_Measurement }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        PULSE UNIT VALUE
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Pulse_Unit_Value }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        LOCATION LAT
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Lat }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        LOCATION LNG
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Lng }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        METER TYPE
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Type }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        REGION
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Region }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        CATEGORY
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Category }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->

            </div>
            <!-- END tab-pane -->									

        </div>
        <!-- END tab-content -->
        
    </div>
    <!-- END METER DETAILS -->
    {% endif %}	
{% endfor %}
</div>
<!-- END consumer -->





<!-- BEGIN waste -->
<div class="text-white small mb-2"><b>WASTEWATER</b></div>
<div class="list-group mb-3">							
{% for meter in meter_list %}
    {% if meter.Category|lower == 'waste' %}
    
    <!-- BEGIN METER -->
    <div class="list-group-item d-flex align-items-center">
        
        <div class="fw-bold text-theme"><i class="fa fa-plus-circle"></i></div>

        <div class="flex-fill px-3">									
            <a href="#" class="text-white" data-bs-toggle="collapse" data-bs-target="#collapse_{{ meter.id }}" id="slider_{{ meter.id }}">
                <div class="fw-bold">{{ meter.Name }}</div>
            </a>
        </div>

        <div class="opacity-10 px-3">
            <div class="fw-bold"><span id="value_main_{{ meter.id }}">0</span> m³</div>
        </div>
        
    </div>
    <!-- END METER -->

    <!-- BEGIN METER DETAILS -->
    <div class="collapse list-group-item" id="collapse_{{ meter.id }}">

        <!-- BEGIN nav-tabs -->
        <ul class="nav nav-tabs nav-tabs">
            <li class="nav-item me-3"><a href="#home_{{ meter.id }}" class="nav-link active" data-bs-toggle="tab">Data</a></li>
            <li class="nav-item me-3"><a href="#info_{{ meter.id }}" class="nav-link" data-bs-toggle="tab">Info</a></li>
        </ul>
        <!-- END nav-tabs -->

        <!-- BEGIN tab-content -->
        <div class="tab-content pt-1">
            <!-- BEGIN tab-pane -->
            <div class="tab-pane fade show active" id="home_{{ meter.id }}">
                <!-- BEGIN TOOLBAR -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-opacity-25 rounded">
                    <div class="container-fluid">

                        <!-- BEGIN REFRESH BUTTON -->
                        <div class="opacity-10 px-1">
                            <button id="refresh_{{ meter.id }}" type="button" class="btn btn-outline-theme btn-sm"><i class="fa fa-redo"></i></button>
                        </div>
                        <!-- END REFRESH BUTTON -->

                        <!-- BEGIN DATE PICKER -->
                        <div class="flex-fill px-1">
                            <div id="daterange_{{ meter.id }}" class="btn btn-outline-theme d-flex align-items-center text-start btn-sm">
                                <span class="text-truncate">&nbsp;</span>
                                <i class="fa fa-caret-down ms-auto"></i>
                            </div>
                        </div>
                        <!-- END DATE PICKER -->

                        <!-- BEGIN SELECT CHART RESOLUTION -->
                        <div class="px-1">
                            <select id="select_chart_resolution_{{ meter.id }}" class="form-select btn-outline-theme form-select-sm" style="width: 100px;">
                                <option  value="H">HOUR</option>
                                <option value="D">DAY</option>
                                <option value="W">WEEK</option>
                                <option value="M">MONTH</option>
                            </select>
                        </div>
                        <!-- END SELECT CHART RESOLUTION -->

                        <!-- BEGIN SELECT CHART TYPE -->
                        <div class="px-1">
                            <select id="select_chart_type_{{ meter.id }}" class="form-select btn-outline-theme form-select-sm" style="width: 100px;">
                                <option value="Bar"><i class="fa fa-bar-chart"></i>BAR</option>
                                <option value="Line"><i class="fa fa-line-chart"></i>LINE</option>
                                <option value="Polar"><i class="fa fa-pie-chart"></i>POLAR</option>
                            </select>
                        </div>												
                        <!-- END SELECT CHART TYPE -->		
                        
                        <!-- BEGIN PRINT PDF -->
                        <div class="opacity-10 px-1">
                            <button data-target="home_{{ meter.id }}" class="btn btn-outline-theme btn-sm pdf">
                                PDF
                            </button>
                        </div>
                        <!-- END PRINT PDF -->

                    </div>
                </nav>
                <!-- END TOOLBAR -->
                <!-- BEGIN row -->
                <div class="row">
                    <div class="col-9">												
                        <!-- BEGIN CHART -->
                        <div class="pt-1 flex-1">
                            <div id="meter_chart_bar_{{ meter.id }}" class="pt-1 flex-1"></div>
                            <div id="meter_chart_polar_{{ meter.id }}" class="pt-1 flex-1"></div>
                            <div id="meter_chart_line_{{ meter.id }}" class="pt-1 flex-1"></div>
                        </div>
                        <!-- END CHART -->
                    </div>
                    <div class="col-3">
                        <hr>
                        <!-- BEGIN DAILY AVE -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                TOTAL (m³)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="total_valuel_{{ meter.id }}">0</span></h4>
                            </div>
                        </div>
                        <!-- END DAILY AVE -->
                        <hr>
                        <!-- BEGIN HOURLY AVE -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                HOURLY AVE (m³/h)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="hourly_ave_value_{{ meter.id }}">0</span> </h4>
                            </div>
                        </div>
                        <!-- END HOURLY AVE -->
                        <hr>
                        <!-- BEGIN MAX FLOW -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                MAX FLOW (m³/h)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="max_flow_value_{{ meter.id }}">0</span> </h4>
                            </div>
                        </div>
                        <!-- END MAX FLOW -->
                        <hr>
                        <!-- BEGIN MIN FLOW -->
                        <div class="w-150px h-98px pt-1 ps-3">
                            <div class="d-flex fw-bold small text-white text-opacity-50 mb-1">
                                MIN FLOW (m³/h)
                            </div>
                            <div class="mb-2 fs-5 text-truncate">
                                <h4 class="mb-0"><span id="min_flow_value_{{ meter.id }}">0</span> </h4>
                            </div>
                        </div>
                        <!-- END MIN FLOW -->
                        <hr>
                    </div>
                </div>
                <!-- END row -->
            </div>
            <!-- END tab-pane -->
            <!-- BEGIN tab-pane -->
            <div class="tab-pane fade" id="info_{{ meter.id }}">

                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        START OF LOGGING
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Start_Date }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        START INDEX
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Start_Index }} m³
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        TOTAL CONSUMPTION
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Start_Index }} m³
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        PULSE UNIT MEASUREMENT
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Pulse_Unit_Measurement }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        PULSE UNIT VALUE
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Pulse_Unit_Value }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        LOCATION LAT
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Lat }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        LOCATION LNG
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Lng }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        METER TYPE
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Type }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        REGION
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Region }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->
                <!-- BEGIN DETAILS ROW -->
                <div class="d-flex pt-2 align-items-center">
                    <div id="Status_{{ meter.id }}" class="w-20px h-20px d-flex align-items-center justify-content-center bg-gradient-cyan-blue text-white rounded-2 ms-n1"></div>
                    <div class="flex-fill fs-12px px-3">
                        CATEGORY
                    </div>			
                    <div class="fs-12px ms-auto">
                        {{ meter.Category }}
                    </div>
                </div>
                <!-- END DETAILS ROW -->

            </div>
            <!-- END tab-pane -->									

        </div>
        <!-- END tab-content -->
        
    </div>
    <!-- END METER DETAILS -->
    {% endif %}	
{% endfor %}
</div>
<!-- END waste -->	