{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ user.profile.organization|upper }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />

    <!-- ================== BEGIN core-css ================== -->
    {% include 'app_dalys/includes/css.html' %}
    <!-- ================== END core-css ================== -->	
	
	<!-- ================== BEGIN page-css ================== -->
	{% block stylesheets %}{% endblock stylesheets %}
	<!-- ================== END page-css ================== -->

</head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app app-sidebar-collapsed">
		<!-- BEGIN #header -->
		<div id="header" class="app-header">
			<!-- BEGIN desktop-toggler -->
			<div class="desktop-toggler">
				<button type="button" class="menu-toggler" data-toggle-class="app-sidebar-collapsed" data-dismiss-class="app-sidebar-toggled" data-toggle-target=".app">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</button>
			</div>
			<!-- BEGIN desktop-toggler -->
			
			<!-- BEGIN mobile-toggler -->
			<div class="mobile-toggler">
				<button type="button" class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled" data-toggle-target=".app">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</button>
			</div>
			<!-- END mobile-toggler -->
			
			<!-- BEGIN brand -->
			<div class="brand">
				<a href="#" class="brand-logo"> 
					<!-- <img src="{% static 'app_dalys/img/hse_green_healthcare.png' %}" class="pt-1 mb-1" alt="Profile" height="50" /> -->
				</a>
			</div>
			<!-- END brand -->
			
			<!-- BEGIN menu -->
			{% include 'app_dalys/includes/navigation.html' %}
			<!-- END menu -->
			
			<!-- BEGIN menu-search -->
			<form class="menu-search" method="POST" name="header_search_form">
				<div class="menu-search-container">
					<div class="menu-search-icon"><i class="bi bi-search"></i></div>
					<div class="menu-search-input">
						<input type="text" class="form-control form-control-lg" placeholder="Search menu..." />
					</div>
					<div class="menu-search-icon">
						<a href="#" data-toggle-class="app-header-menu-search-toggled" data-toggle-target=".app"><i class="bi bi-x-lg"></i></a>
					</div>
				</div>
			</form>
			<!-- END menu-search -->
		</div>
		<!-- END #header -->
		
		<!-- BEGIN #sidebar -->
		{% include 'app_dalys/includes/sidebar.html' %}
		<!-- END #sidebar -->
			
		<!-- BEGIN mobile-sidebar-backdrop -->
		<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
		<!-- END mobile-sidebar-backdrop -->
		
		<!-- BEGIN #content -->
		{% block content %}{% endblock content %}
		<!-- END #content -->
		
		<!-- BEGIN btn-scroll-top -->
		<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
		<!-- END btn-scroll-top -->

		<!-- BEGIN theme-panel -->
        {% include 'app_dalys/includes/theme-panel.html' %}
		<!-- END theme-panel -->

	</div>
	<!-- END #app -->		

    <!-- ================== BEGIN core-js ================== -->
    {% include 'app_dalys/includes/scripts.html' %}
    <!-- ================== END core-js ================== -->
	
	<!-- ================== BEGIN page-js ================== -->
    {% block javascripts %}{% endblock javascripts %}
    <!-- ================== END page-js ================== -->

</body>
</html>
