{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ user.profile.organization|upper }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />

    <!-- ================== BEGIN core-css ================== -->
    {% include 'app_water/includes/css.html' %}
    <!-- ================== END core-css ================== -->	
	
	<!-- ================== BEGIN page-css ================== -->
	{% block stylesheets %}{% endblock stylesheets %}
	<!-- ================== END page-css ================== -->

</head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app app-sidebar-collapsed">
		<!-- BEGIN #header -->
		<div id="header" class="app-header">			
			
			<!-- BEGIN brand -->
			<div class="brand">
				<a href="#" class="brand-logo"> 
					<img src="{% static 'app_water/img/hse_green_healthcare.png' %}" class="pt-1 mb-1" alt="Profile" height="50" />
				</a>
			</div>
			<!-- END brand -->
			
			<!-- BEGIN menu -->
			{% include 'app_water/includes/navigation.html' %}
			<!-- END menu -->			
			
		</div>
		<!-- END #header -->
		
		<!-- BEGIN #content -->
		{% block content %}{% endblock content %}
		<!-- END #content -->
		
		<!-- BEGIN btn-scroll-top -->
		<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
		<!-- END btn-scroll-top -->

		<!-- BEGIN theme-panel -->
        {% include 'app_water/includes/theme-panel.html' %}
		<!-- END theme-panel -->

	</div>
	<!-- END #app -->		

    <!-- ================== BEGIN core-js ================== -->
    {% include 'app_water/includes/scripts.html' %}
    <!-- ================== END core-js ================== -->
	
	<!-- ================== BEGIN page-js ================== -->
    {% block javascripts %}{% endblock javascripts %}
    <!-- ================== END page-js ================== -->

</body>
</html>
