{% load static %}
<!-- ================== BEGIN core-css ================== -->
<link href="{% static 'app_water/css/vendor.min.css' %}" rel="stylesheet" />
<link href="{% static 'app_water/css/app.min.css' %}" rel="stylesheet" />
<link href="{% static 'app_water/css/dx.dark.css' %}" rel="stylesheet" >
<link href="{% static 'app_water/css/dx.dark.compact.css' %}" rel="stylesheet" >

<link href="{% static 'app_water/plugins/jvectormap-next/jquery-jvectormap.css' %}" rel="stylesheet" />
<link href="{% static 'app_water/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
<link href="{% static 'app_water/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
<link href="{% static 'app_water/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
<link href="{% static 'app_water/plugins/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet" />

<link href="{% static 'app_water/css/datatable.css' %}" rel="stylesheet" />

<link href="{% static 'app_water/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" />
<link href="{% static 'app_water/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" />
<link href="{% static 'app_water/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
<!-- ================== END core-css ================== -->