<!-- BEGIN menu -->
<div class="menu">     
    
    <div class="menu-item dropdown dropdown-mobile-full">
        <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
            <div class="menu-text d-sm-block d-none">{{ user.email }}</div>
        </a>
        <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
            <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">LOGOUT <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i></a>
        </div>
    </div>

    <div class="fw-bold text-theme px-3">
        <a href="#modalHelp" data-bs-toggle="modal"><i class="fa fa-info-circle me-1"></i></a>
    </div>

    
    
</div>
<!-- END menu -->